# Titanic

In [1]:
import pymysql
con = pymysql.connect('localhost','root','','provincias')
conn = con.cursor()

In [4]:
conn.execute("""
    SELECT * FROM titanic;
""")
rs = conn.fetchall()

In [7]:
import pandas as pd
df = pd.DataFrame(rs)
df.columns=[
    'PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'
]
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,35,0,0,330911,7.8292,,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7.0000,,S
2,894,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9.6875,,Q
3,895,3,"Wirz, Mr. Albert",male,27,0,0,315154,8.6625,,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22,1,1,3101298,12.2875,,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,0,0,0,A.5. 3236,8.0500,,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,39,0,0,SOTON/O.Q. 3101262,7.2500,,S
416,1308,3,"Ware, Mr. Frederick",male,0,0,0,359309,8.0500,,S
417,1309,3,"Peter, Master. Michael J",male,0,1,1,2668,22.3583,,C

### Nombre de los 5 primeros pasajeros

In [15]:
conn.execute("""
    SELECT Name FROM titanic LIMIT 5;
""")
rs = conn.fetchall()
rs

(('Kelly, Mr. James',),
 ('Wilkes, Mrs. James (Ellen Needs)',),
 ('Myles, Mr. Thomas Francis',),
 ('Wirz, Mr. Albert',),
 ('Hirvonen, Mrs. Alexander (Helga E Lindqvist)',))

In [16]:
df.Name.head()

0                                Kelly, Mr. James
1                Wilkes, Mrs. James (Ellen Needs)
2                       Myles, Mr. Thomas Francis
3                                Wirz, Mr. Albert
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)
Name: Name, dtype: object

### Edades de los pasajeros

In [22]:
conn.execute("""
    SELECT DISTINCT Age FROM titanic;
""")
rs = conn.fetchall()
for i in rs: print(i[0], end=', ')

35, 47, 62, 27, 22, 14, 30, 26, 18, 21, 0, 46, 23, 63, 24, 45, 55, 9, 48, 50, 41, 33, 19, 25, 39, 60, 36, 20, 28, 10, 17, 32, 13, 31, 29, 6, 67, 49, 2, 76, 43, 16, 1, 12, 42, 53, 40, 61, 7, 15, 54, 64, 37, 34, 8, 38, 57, 58, 59, 44, 5, 51, 3,

In [24]:
df.Age.unique()

array([35, 47, 62, 27, 22, 14, 30, 26, 18, 21,  0, 46, 23, 63, 24, 45, 55,
        9, 48, 50, 41, 33, 19, 25, 39, 60, 36, 20, 28, 10, 17, 32, 13, 31,
       29,  6, 67, 49,  2, 76, 43, 16,  1, 12, 42, 53, 40, 61,  7, 15, 54,
       64, 37, 34,  8, 38, 57, 58, 59, 44,  5, 51,  3], dtype=int64)

### Â¿CuÃ¡ntas edades diferentes tenÃ­an los pasajeros?

In [30]:
conn.execute("""
    SELECT COUNT(DISTINCT Age) FROM titanic;
""")
rs = conn.fetchall()
rs[0][0]

63

In [31]:
len(df.Age.unique())

63

### Listado de los pasajeros de primera clase

In [39]:
conn.execute("""
    SELECT * FROM titanic
      WHERE PClass=1;
""")
rs = conn.fetchall()
for i in rs: print(i)

(903, 1, 'Jones, Mr. Charles Cresson', 'male', 46, 0, '0', '694', 26.0, '', 'S')
(904, 1, 'Snyder, Mrs. John Pillsbury (Nelle Stevenson)', 'female', 23, 1, '0', '21228', 82.2667, 'B45', 'S')
(906, 1, 'Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)', 'female', 47, 1, '0', 'W.E.P. 5734', 61.175, 'E31', 'S')
(912, 1, 'Rothschild, Mr. Martin', 'male', 55, 1, '0', 'PC 17603', 59.4, '', 'C')
(914, 1, 'Flegenheim, Mrs. Alfred (Antoinette)', 'female', 0, 0, '0', 'PC 17598', 31.6833, '', 'S')
(915, 1, 'Williams, Mr. Richard Norris II', 'male', 21, 0, '1', 'PC 17597', 61.3792, '', 'C')
(916, 1, 'Ryerson, Mrs. Arthur Larned (Emily Maria Borie)', 'female', 48, 1, '3', 'PC 17608', 262.375, 'B57 B59 B63 B66', 'C')
(918, 1, 'Ostby, Miss. Helene Ragnhild', 'female', 22, 0, '1', '113509', 61.9792, 'B36', 'C')
(920, 1, 'Brady, Mr. John Bertram', 'male', 41, 0, '0', '113054', 30.5, 'A21', 'S')
(926, 1, 'Mock, Mr. Philipp Edmund', 'male', 30, 1, '0', '13236', 57.75, 'C78', 'C')
(933, 1, 'Franklin, Mr. Thomas Parham', 'male', 0, 0, '0', '113778', 26.55, 'D34', 'S')
(936, 1, 'Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)', 'female', 45, 1, '0', '11753', 52.5542, 'D19', 'S')
(938, 1, 'Chevre, Mr. Paul Romaine', 'male', 45, 0, '0', 'PC 17594', 29.7, 'A9', 'C')
(940, 1, 'Bucknell, Mrs. William Robert (Emma Eliza Ward)', 'female', 60, 0, '0', '11813', 76.2917, 'D15', 'C')
(942, 1, 'Smith, Mr. Lucien Philip', 'male', 24, 1, '0', '13695', 60.0, 'C31', 'S')
(945, 1, 'Fortune, Miss. Ethel Flora', 'female', 28, 3, '2', '19950', 263.0, 'C23 C25 C27', 'S')
(951, 1, 'Chaudanson, Miss. Victorine', 'female', 36, 0, '0', 'PC 17608', 262.375, 'B61', 'C')
(956, 1, 'Ryerson, Master. John Borie', 'male', 13, 2, '2', 'PC 17608', 262.375, 'B57 B59 B63 B66', 'C')
(959, 1, 'Moore, Mr. Clarence Bloomfield', 'male', 47, 0, '0', '113796', 42.4, '', 'S')
(960, 1, 'Tucker, Mr. Gilbert Milligan Jr', 'male', 31, 0, '0', '2543', 28.5375, 'C53', 'C')
(961, 1, 'Fortune, Mrs. Mark (Mary McDougald)', 'female', 60, 1, '4', '19950', 263.0, 'C23 C25 C27', 'S')
(965, 1, 'Ovies y Rodriguez, Mr. Servando', 'male', 29, 0, '0', 'PC 17562', 27.7208, 'D43', 'C')
(966, 1, 'Geiger, Miss. Amalie', 'female', 35, 0, '0', '113503', 211.5, 'C130', 'C')
(967, 1, 'Keeping, Mr. Edwin', 'male', 33, 0, '0', '113503', 211.5, 'C132', 'C')
(969, 1, 'Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)', 'female', 55, 2, '0', '11770', 25.7, 'C101', 'S')
(973, 1, 'Straus, Mr. Isidor', 'male', 67, 1, '0', 'PC 17483', 221.779, 'C55 C57', 'S')
(974, 1, 'Case, Mr. Howard Brown', 'male', 49, 0, '0', '19924', 26.0, '', 'S')
(984, 1, 'Davidson, Mrs. Thornton (Orian Hays)', 'female', 27, 1, '2', 'F.C. 12750', 52.0, 'B71', 'S')
(986, 1, 'Birnbaum, Mr. Jakob', 'male', 25, 0, '0', '13905', 26.0, '', 'C')
(988, 1, 'Cavendish, Mrs. Tyrell William (Julia Florence Siegel)', 'female', 76, 1, '0', '19877', 78.85, 'C46', 'S')
(992, 1, 'Stengel, Mrs. Charles Emil Henry (Annie May Morris)', 'female', 43, 1, '0', '11778', 55.4417, 'C116', 'C')
(1004, 1, 'Evans, Miss. Edith Corse', 'female', 36, 0, '0', 'PC 17531', 31.6792, 'A29', 'C')
(1006, 1, 'Straus, Mrs. Isidor (Rosalie Ida Blun)', 'female', 63, 1, '0', 'PC 17483', 221.779, 'C55 C57', 'S')
(1010, 1, 'Beattie, Mr. Thomson', 'male', 36, 0, '0', '13050', 75.2417, 'C6', 'C')
(1014, 1, 'Schabert, Mrs. Paul (Emma Mock)', 'female', 35, 1, '0', '13236', 57.75, 'C28', 'C')
(1023, 1, 'Gracie, Col. Archibald IV', 'male', 53, 0, '0', '113780', 28.5, 'C51', 'C')
(1033, 1, 'Daniels, Miss. Sarah', 'female', 33, 0, '0', '113781', 151.55, '', 'S')
(1034, 1, 'Ryerson, Mr. Arthur Larned', 'male', 61, 1, '3', 'PC 17608', 262.375, 'B57 B59 B63 B66', 'C')
(1036, 1, 'Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey)', 'male', 42, 0, '0', '17475', 26.55, '', 'S')
(1038, 1, 'Hilliard, Mr. Herbert Henry', 'male', 0, 0, '0', '17463', 51.8625, 'E46', 'S')
(1040, 1, 'Crafton, Mr. John Bertram', 'male', 0, 0, '0', '113791', 26.55, '', 'S')
(1042, 1, 'Earnshaw, Mrs. Boulton (Olive Potter)', 'female', 23, 0, '1', '11767', 83.1583, 'C54', 'C')
(1048, 1, 'Bird, Miss. Ellen', 'female', 29, 0, '0', 'PC 17483', 221.779, 'C97', 'S')
(1050, 1, 'Borebank, Mr. John James', 'male', 42, 0, '0', '110489', 26.55, 'D22', 'S')
(1058, 1, 'Brandeis, Mr. Emil', 'male', 48, 0, '0', 'PC 17591', 50.4958, 'B10', 'C')
(1060, 1, 'Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)', 'female', 0, 0, '0', '17770', 27.7208, '', 'C')
(1069, 1, 'Stengel, Mr. Charles Emil Henry', 'male', 54, 1, '0', '11778', 55.4417, 'C116', 'C')
(1071, 1, 'Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)', 'female', 64, 0, '2', 'PC 17756', 83.1583, 'E45', 'C')
(1073, 1, 'Compton, Mr. Alexander Taylor Jr', 'male', 37, 1, '1', 'PC 17756', 83.1583, 'E52', 'C')
(1074, 1, 'Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)', 'female', 18, 1, '0', '113773', 53.1, 'D30', 'S')
(1076, 1, 'Douglas, Mrs. Frederick Charles (Mary Helene Baxter)', 'female', 27, 1, '1', 'PC 17558', 247.521, 'B58 B60', 'C')
(1083, 1, 'Salomon, Mr. Abraham L', 'male', 0, 0, '0', '111163', 26.0, '', 'S')
(1088, 1, 'Spedden, Master. Robert Douglas', 'male', 6, 0, '2', '16966', 134.5, 'E34', 'C')
(1094, 1, 'Astor, Col. John Jacob', 'male', 47, 1, '0', 'PC 17757', 227.525, 'C62 C64', 'C')
(1097, 1, 'Omont, Mr. Alfred Fernand', 'male', 0, 0, '0', 'F.C. 12998', 25.7417, '', 'C')
(1100, 1, 'Rosenbaum, Miss. Edith Louise', 'female', 33, 0, '0', 'PC 17613', 27.7208, 'A11', 'C')
(1107, 1, 'Head, Mr. Christopher', 'male', 42, 0, '0', '113038', 42.5, 'B11', 'S')
(1109, 1, 'Wick, Mr. George Dennick', 'male', 57, 1, '1', '36928', 164.867, '', 'S')
(1110, 1, 'Widener, Mrs. George Dunton (Eleanor Elkins)', 'female', 50, 1, '1', '113503', 211.5, 'C80', 'C')
(1116, 1, 'Candee, Mrs. Edward (Helen Churchill Hungerford)', 'female', 53, 0, '0', 'PC 17606', 27.4458, '', 'C')
(1123, 1, 'Willard, Miss. Constance', 'female', 21, 0, '0', '113795', 26.55, '', 'S')
(1126, 1, 'Cumings, Mr. John Bradley', 'male', 39, 1, '0', 'PC 17599', 71.2833, 'C85', 'C')
(1128, 1, 'Warren, Mr. Frank Manley', 'male', 64, 1, '0', '110813', 75.25, 'D37', 'C')
(1131, 1, 'Douglas, Mrs. Walter Donald (Mahala Dutton)', 'female', 48, 1, '0', 'PC 17761', 106.425, 'C86', 'C')
(1132, 1, 'Lindstrom, Mrs. Carl Johan (Sigrid Posse)', 'female', 55, 0, '0', '112377', 27.7208, '', 'C')
(1134, 1, 'Spedden, Mr. Frederic Oakley', 'male', 45, 1, '1', '16966', 134.5, 'E34', 'C')
(1137, 1, 'Kenyon, Mr. Frederick R', 'male', 41, 1, '0', '17464', 51.8625, 'D21', 'S')
(1144, 1, 'Clark, Mr. Walter Miller', 'male', 27, 1, '0', '13508', 136.779, 'C89', 'C')
(1158, 1, 'Chisholm, Mr. Roderick Robert Crispin', 'male', 0, 0, '0', '112051', 0.0, '', 'S')
(1162, 1, 'McCaffry, Mr. Thomas Francis', 'male', 46, 0, '0', '13050', 75.2417, 'C6', 'C')
(1164, 1, 'Clark, Mrs. Walter Miller (Virginia McDowell)', 'female', 26, 1, '0', '13508', 136.779, 'C89', 'C')
(1179, 1, 'Snyder, Mr. John Pillsbury', 'male', 24, 1, '0', '21228', 82.2667, 'B45', 'S')
(1182, 1, 'Rheims, Mr. George Alexander Lucien', 'male', 0, 0, '0', 'PC 17607', 39.6, '', 'S')
(1185, 1, 'Dodge, Dr. Washington', 'male', 53, 1, '1', '33638', 81.8583, 'A34', 'S')
(1190, 1, 'Loring, Mr. Joseph Holland', 'male', 30, 0, '0', '113801', 45.5, '', 'S')
(1197, 1, 'Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)', 'female', 64, 1, '1', '112901', 26.55, 'B26', 'S')
(1198, 1, 'Allison, Mr. Hudson Joshua Creighton', 'male', 30, 1, '2', '113781', 151.55, 'C22 C26', 'S')
(1200, 1, 'Hays, Mr. Charles Melville', 'male', 55, 1, '1', '12749', 93.5, 'B69', 'S')
(1206, 1, 'White, Mrs. John Stuart (Ella Holmes)', 'female', 55, 0, '0', 'PC 17760', 135.633, 'C32', 'C')
(1208, 1, 'Spencer, Mr. William Augustus', 'male', 57, 1, '0', 'PC 17569', 146.521, 'B78', 'C')
(1215, 1, 'Rowe, Mr. Alfred G', 'male', 33, 0, '0', '113790', 26.55, '', 'S')
(1216, 1, 'Kreuchen, Miss. Emilie', 'female', 39, 0, '0', '24160', 211.337, '', 'S')
(1219, 1, 'Rosenshine, Mr. George (Mr George Thorne)', 'male', 46, 0, '0', 'PC 17585', 79.2, '', 'C')
(1223, 1, 'Dulles, Mr. William Crothers', 'male', 39, 0, '0', 'PC 17580', 29.7, 'A18', 'C')
(1227, 1, 'Maguire, Mr. John Edward', 'male', 30, 0, '0', '110469', 26.0, 'C106', 'S')
(1235, 1, 'Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)', 'female', 58, 0, '1', 'PC 17755', 512.329, 'B51 B53 B55', 'C')
(1242, 1, 'Greenfield, Mrs. Leo David (Blanche Strouse)', 'female', 45, 0, '1', 'PC 17759', 63.3583, 'D10 D12', 'C')
(1247, 1, 'Julian, Mr. Henry Forbes', 'male', 50, 0, '0', '113044', 26.0, 'E60', 'S')
(1248, 1, 'Brown, Mrs. John Murray (Caroline Lane Lamson)', 'female', 59, 2, '0', '11769', 51.4792, 'C101', 'S')
(1256, 1, 'Harder, Mrs. George Achilles (Dorothy Annan)', 'female', 25, 1, '0', '11765', 55.4417, 'E50', 'C')
(1260, 1, 'Gibson, Mrs. Leonard (Pauline C Boeson)', 'female', 45, 0, '1', '112378', 59.4, '', 'C')
(1263, 1, 'Wilson, Miss. Helen Alice', 'female', 31, 0, '0', '16966', 134.5, 'E39 E41', 'C')
(1264, 1, 'Ismay, Mr. Joseph Bruce', 'male', 49, 0, '0', '112058', 0.0, 'B52 B54 B56', 'S')
(1266, 1, 'Dodge, Mrs. Washington (Ruth Vidaver)', 'female', 54, 1, '1', '33638', 81.8583, 'A34', 'S')
(1267, 1, 'Bowen, Miss. Grace Scott', 'female', 45, 0, '0', 'PC 17608', 262.375, '', 'C')
(1270, 1, 'Hipkins, Mr. William Edward', 'male', 55, 0, '0', '680', 50.0, 'C39', 'S')
(1282, 1, 'Payne, Mr. Vivian Ponsonby', 'male', 23, 0, '0', '12749', 93.5, 'B24', 'S')
(1283, 1, 'Lines, Mrs. Ernest H (Elizabeth Lindsey James)', 'female', 51, 0, '1', 'PC 17592', 39.4, 'D28', 'S')
(1287, 1, 'Smith, Mrs. Lucien Philip (Mary Eloise Hughes)', 'female', 18, 1, '0', '13695', 60.0, 'C31', 'S')
(1289, 1, 'Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)', 'female', 48, 1, '1', '13567', 79.2, 'B41', 'C')
(1292, 1, 'Bonnell, Miss. Caroline', 'female', 30, 0, '0', '36928', 164.867, 'C7', 'S')
(1294, 1, 'Gibson, Miss. Dorothy Winifred', 'female', 22, 0, '1', '112378', 59.4, '', 'C')
(1295, 1, 'Carrau, Mr. Jose Pedro', 'male', 17, 0, '0', '113059', 47.1, '', 'S')
(1296, 1, 'Frauenthal, Mr. Isaac Gerald', 'male', 43, 1, '0', '17765', 27.7208, 'D40', 'C')
(1299, 1, 'Widener, Mr. George Dunton', 'male', 50, 1, '1', '113503', 211.5, 'C80', 'C')
(1303, 1, 'Minahan, Mrs. William Edward (Lillian E Thorpe)', 'female', 37, 1, '0', '19928', 90.0, 'C78', 'Q')
(1306, 1, 'Oliva y Ocana, Dona. Fermina', 'female', 39, 0, '0', 'PC 17758', 108.9, 'C105', 'C')

In [40]:
df[ df.Pclass==1 ]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
11,903,1,"Jones, Mr. Charles Cresson",male,46,0,0,694,26.0000,,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23,1,0,21228,82.2667,B45,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47,1,0,W.E.P. 5734,61.1750,E31,S
20,912,1,"Rothschild, Mr. Martin",male,55,1,0,PC 17603,59.4000,,C
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,0,0,0,PC 17598,31.6833,,S
...,...,...,...,...,...,...,...,...,...,...,...
403,1295,1,"Carrau, Mr. Jose Pedro",male,17,0,0,113059,47.1000,,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43,1,0,17765,27.7208,D40,C
407,1299,1,"Widener, Mr. George Dunton",male,50,1,1,113503,211.5000,C80,C
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37,1,0,19928,90.0000,C78,Q
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108.9000,C105,C

### Pasajeros de 1Âª y 2Âª clase

In [42]:
conn.execute("""
    SELECT * FROM titanic
      WHERE Pclass=1 OR Pclass=2;
""")
rs = conn.fetchall()
for i in rs: print(i)

(894, 2, 'Myles, Mr. Thomas Francis', 'male', 62, 0, '0', '240276', 9.6875, '', 'Q')
(899, 2, 'Caldwell, Mr. Albert Francis', 'male', 26, 1, '1', '248738', 29.0, '', 'S')
(903, 1, 'Jones, Mr. Charles Cresson', 'male', 46, 0, '0', '694', 26.0, '', 'S')
(904, 1, 'Snyder, Mrs. John Pillsbury (Nelle Stevenson)', 'female', 23, 1, '0', '21228', 82.2667, 'B45', 'S')
(905, 2, 'Howard, Mr. Benjamin', 'male', 63, 1, '0', '24065', 26.0, '', 'S')
(906, 1, 'Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)', 'female', 47, 1, '0', 'W.E.P. 5734', 61.175, 'E31', 'S')
(907, 2, 'del Carlo, Mrs. Sebastiano (Argenia Genovesi)', 'female', 24, 1, '0', 'SC/PARIS 2167', 27.7208, '', 'C')
(908, 2, 'Keane, Mr. Daniel', 'male', 35, 0, '0', '233734', 12.35, '', 'Q')
(912, 1, 'Rothschild, Mr. Martin', 'male', 55, 1, '0', 'PC 17603', 59.4, '', 'C')
(914, 1, 'Flegenheim, Mrs. Alfred (Antoinette)', 'female', 0, 0, '0', 'PC 17598', 31.6833, '', 'S')
(915, 1, 'Williams, Mr. Richard Norris II', 'male', 21, 0, '1', 'PC 17597', 61.3792, '', 'C')
(916, 1, 'Ryerson, Mrs. Arthur Larned (Emily Maria Borie)', 'female', 48, 1, '3', 'PC 17608', 262.375, 'B57 B59 B63 B66', 'C')
(918, 1, 'Ostby, Miss. Helene Ragnhild', 'female', 22, 0, '1', '113509', 61.9792, 'B36', 'C')
(920, 1, 'Brady, Mr. John Bertram', 'male', 41, 0, '0', '113054', 30.5, 'A21', 'S')
(922, 2, 'Louch, Mr. Charles Alexander', 'male', 50, 1, '0', 'SC/AH 3085', 26.0, '', 'S')
(923, 2, 'Jefferys, Mr. Clifford Thomas', 'male', 24, 2, '0', 'C.A. 31029', 31.5, '', 'S')
(926, 1, 'Mock, Mr. Philipp Edmund', 'male', 30, 1, '0', '13236', 57.75, 'C78', 'C')
(933, 1, 'Franklin, Mr. Thomas Parham', 'male', 0, 0, '0', '113778', 26.55, 'D34', 'S')
(935, 2, 'Corbett, Mrs. Walter H (Irene Colvin)', 'female', 30, 0, '0', '237249', 13.0, '', 'S')
(936, 1, 'Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)', 'female', 45, 1, '0', '11753', 52.5542, 'D19', 'S')
(938, 1, 'Chevre, Mr. Paul Romaine', 'male', 45, 0, '0', 'PC 17594', 29.7, 'A9', 'C')
(940, 1, 'Bucknell, Mrs. William Robert (Emma Eliza Ward)', 'female', 60, 0, '0', '11813', 76.2917, 'D15', 'C')
(942, 1, 'Smith, Mr. Lucien Philip', 'male', 24, 1, '0', '13695', 60.0, 'C31', 'S')
(943, 2, 'Pulbaum, Mr. Franz', 'male', 27, 0, '0', 'SC/PARIS 2168', 15.0333, '', 'C')
(944, 2, 'Hocking, Miss. Ellen Nellie', 'female', 20, 2, '1', '29105', 23.0, '', 'S')
(945, 1, 'Fortune, Miss. Ethel Flora', 'female', 28, 3, '2', '19950', 263.0, 'C23 C25 C27', 'S')
(946, 2, 'Mangiavacchi, Mr. Serafino Emilio', 'male', 0, 0, '0', 'SC/A.3 2861', 15.5792, '', 'C')
(951, 1, 'Chaudanson, Miss. Victorine', 'female', 36, 0, '0', 'PC 17608', 262.375, 'B61', 'C')
(953, 2, 'McCrae, Mr. Arthur Gordon', 'male', 32, 0, '0', '237216', 13.5, '', 'S')
(956, 1, 'Ryerson, Master. John Borie', 'male', 13, 2, '2', 'PC 17608', 262.375, 'B57 B59 B63 B66', 'C')
(957, 2, 'Corey, Mrs. Percy C (Mary Phyllis Elizabeth Miller)', 'female', 0, 0, '0', 'F.C.C. 13534', 21.0, '', 'S')
(959, 1, 'Moore, Mr. Clarence Bloomfield', 'male', 47, 0, '0', '113796', 42.4, '', 'S')
(960, 1, 'Tucker, Mr. Gilbert Milligan Jr', 'male', 31, 0, '0', '2543', 28.5375, 'C53', 'C')
(961, 1, 'Fortune, Mrs. Mark (Mary McDougald)', 'female', 60, 1, '4', '19950', 263.0, 'C23 C25 C27', 'S')
(965, 1, 'Ovies y Rodriguez, Mr. Servando', 'male', 29, 0, '0', 'PC 17562', 27.7208, 'D43', 'C')
(966, 1, 'Geiger, Miss. Amalie', 'female', 35, 0, '0', '113503', 211.5, 'C130', 'C')
(967, 1, 'Keeping, Mr. Edwin', 'male', 33, 0, '0', '113503', 211.5, 'C132', 'C')
(969, 1, 'Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)', 'female', 55, 2, '0', '11770', 25.7, 'C101', 'S')
(970, 2, 'Aldworth, Mr. Charles Augustus', 'male', 30, 0, '0', '248744', 13.0, '', 'S')
(973, 1, 'Straus, Mr. Isidor', 'male', 67, 1, '0', 'PC 17483', 221.779, 'C55 C57', 'S')
(974, 1, 'Case, Mr. Howard Brown', 'male', 49, 0, '0', '19924', 26.0, '', 'S')
(976, 2, 'Lamb, Mr. John Joseph', 'male', 0, 0, '0', '240261', 10.7083, '', 'Q')
(981, 2, 'Wells, Master. Ralph Lester', 'male', 2, 1, '1', '29103', 23.0, '', 'S')
(984, 1, 'Davidson, Mrs. Thornton (Orian Hays)', 'female', 27, 1, '2', 'F.C. 12750', 52.0, 'B71', 'S')
(986, 1, 'Birnbaum, Mr. Jakob', 'male', 25, 0, '0', '13905', 26.0, '', 'C')
(988, 1, 'Cavendish, Mrs. Tyrell William (Julia Florence Siegel)', 'female', 76, 1, '0', '19877', 78.85, 'C46', 'S')
(992, 1, 'Stengel, Mrs. Charles Emil Henry (Annie May Morris)', 'female', 43, 1, '0', '11778', 55.4417, 'C116', 'C')
(993, 2, 'Weisz, Mr. Leopold', 'male', 27, 1, '0', '228414', 26.0, '', 'S')
(1001, 2, 'Swane, Mr. George', 'male', 19, 0, '0', '248734', 13.0, 'F', 'S')
(1002, 2, 'Stanton, Mr. Samuel Ward', 'male', 41, 0, '0', '237734', 15.0458, '', 'C')
(1004, 1, 'Evans, Miss. Edith Corse', 'female', 36, 0, '0', 'PC 17531', 31.6792, 'A29', 'C')
(1006, 1, 'Straus, Mrs. Isidor (Rosalie Ida Blun)', 'female', 63, 1, '0', 'PC 17483', 221.779, 'C55 C57', 'S')
(1010, 1, 'Beattie, Mr. Thomson', 'male', 36, 0, '0', '13050', 75.2417, 'C6', 'C')
(1011, 2, 'Chapman, Mrs. John Henry (Sara Elizabeth Lawry)', 'female', 29, 1, '0', 'SC/AH 29037', 26.0, '', 'S')
(1012, 2, 'Watt, Miss. Bertha J', 'female', 12, 0, '0', 'C.A. 33595', 15.75, '', 'S')
(1014, 1, 'Schabert, Mrs. Paul (Emma Mock)', 'female', 35, 1, '0', '13236', 57.75, 'C28', 'C')
(1020, 2, 'Bowenur, Mr. Solomon', 'male', 42, 0, '0', '211535', 13.0, '', 'S')
(1023, 1, 'Gracie, Col. Archibald IV', 'male', 53, 0, '0', '113780', 28.5, 'C51', 'C')
(1029, 2, 'Schmidt, Mr. August', 'male', 26, 0, '0', '248659', 13.0, '', 'S')
(1033, 1, 'Daniels, Miss. Sarah', 'female', 33, 0, '0', '113781', 151.55, '', 'S')
(1034, 1, 'Ryerson, Mr. Arthur Larned', 'male', 61, 1, '3', 'PC 17608', 262.375, 'B57 B59 B63 B66', 'C')
(1035, 2, 'Beauchamp, Mr. Henry James', 'male', 28, 0, '0', '244358', 26.0, '', 'S')
(1036, 1, 'Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey)', 'male', 42, 0, '0', '17475', 26.55, '', 'S')
(1038, 1, 'Hilliard, Mr. Herbert Henry', 'male', 0, 0, '0', '17463', 51.8625, 'E46', 'S')
(1040, 1, 'Crafton, Mr. John Bertram', 'male', 0, 0, '0', '113791', 26.55, '', 'S')
(1041, 2, 'Lahtinen, Rev. William', 'male', 30, 1, '1', '250651', 26.0, '', 'S')
(1042, 1, 'Earnshaw, Mrs. Boulton (Olive Potter)', 'female', 23, 0, '1', '11767', 83.1583, 'C54', 'C')
(1048, 1, 'Bird, Miss. Ellen', 'female', 29, 0, '0', 'PC 17483', 221.779, 'C97', 'S')
(1050, 1, 'Borebank, Mr. John James', 'male', 42, 0, '0', '110489', 26.55, 'D22', 'S')
(1054, 2, 'Wright, Miss. Marion', 'female', 26, 0, '0', '220844', 13.5, '', 'S')
(1056, 2, 'Peruschitz, Rev. Joseph Maria', 'male', 41, 0, '0', '237393', 13.0, '', 'S')
(1058, 1, 'Brandeis, Mr. Emil', 'male', 48, 0, '0', 'PC 17591', 50.4958, 'B10', 'C')
(1060, 1, 'Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)', 'female', 0, 0, '0', '17770', 27.7208, '', 'C')
(1067, 2, 'Brown, Miss. Edith Eileen', 'female', 15, 0, '2', '29750', 39.0, '', 'S')
(1068, 2, 'Sincock, Miss. Maude', 'female', 20, 0, '0', 'C.A. 33112', 36.75, '', 'S')
(1069, 1, 'Stengel, Mr. Charles Emil Henry', 'male', 54, 1, '0', '11778', 55.4417, 'C116', 'C')
(1070, 2, 'Becker, Mrs. Allen Oliver (Nellie E Baumgardner)', 'female', 36, 0, '3', '230136', 39.0, 'F4', 'S')
(1071, 1, 'Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)', 'female', 64, 0, '2', 'PC 17756', 83.1583, 'E45', 'C')
(1072, 2, 'McCrie, Mr. James Matthew', 'male', 30, 0, '0', '233478', 13.0, '', 'S')
(1073, 1, 'Compton, Mr. Alexander Taylor Jr', 'male', 37, 1, '1', 'PC 17756', 83.1583, 'E52', 'C')
(1074, 1, 'Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)', 'female', 18, 1, '0', '113773', 53.1, 'D30', 'S')
(1076, 1, 'Douglas, Mrs. Frederick Charles (Mary Helene Baxter)', 'female', 27, 1, '1', 'PC 17558', 247.521, 'B58 B60', 'C')
(1077, 2, 'Maybery, Mr. Frank Hubert', 'male', 40, 0, '0', '239059', 16.0, '', 'S')
(1078, 2, 'Phillips, Miss. Alice Frances Louisa', 'female', 21, 0, '1', 'S.O./P.P. 2', 21.0, '', 'S')
(1081, 2, 'Veal, Mr. James', 'male', 40, 0, '0', '28221', 13.0, '', 'S')
(1082, 2, 'Angle, Mr. William A', 'male', 34, 1, '0', '226875', 26.0, '', 'S')
(1083, 1, 'Salomon, Mr. Abraham L', 'male', 0, 0, '0', '111163', 26.0, '', 'S')
(1085, 2, 'Lingane, Mr. John', 'male', 61, 0, '0', '235509', 12.35, '', 'Q')
(1086, 2, 'Drew, Master. Marshall Brines', 'male', 8, 0, '2', '28220', 32.5, '', 'S')
(1088, 1, 'Spedden, Master. Robert Douglas', 'male', 6, 0, '2', '16966', 134.5, 'E34', 'C')
(1090, 2, 'Baimbrigge, Mr. Charles Robert', 'male', 23, 0, '0', 'C.A. 31030', 10.5, '', 'S')
(1094, 1, 'Astor, Col. John Jacob', 'male', 47, 1, '0', 'PC 17757', 227.525, 'C62 C64', 'C')
(1095, 2, 'Quick, Miss. Winifred Vera', 'female', 8, 1, '1', '26360', 26.0, '', 'S')
(1096, 2, 'Andrew, Mr. Frank Thomas', 'male', 25, 0, '0', 'C.A. 34050', 10.5, '', 'S')
(1097, 1, 'Omont, Mr. Alfred Fernand', 'male', 0, 0, '0', 'F.C. 12998', 25.7417, '', 'C')
(1099, 2, 'Collett, Mr. Sidney C Stuart', 'male', 24, 0, '0', '28034', 10.5, '', 'S')
(1100, 1, 'Rosenbaum, Miss. Edith Louise', 'female', 33, 0, '0', 'PC 17613', 27.7208, 'A11', 'C')
(1104, 2, 'Deacon, Mr. Percy William', 'male', 17, 0, '0', 'S.O.C. 14879', 73.5, '', 'S')
(1105, 2, 'Howard, Mrs. Benjamin (Ellen Truelove Arman)', 'female', 60, 1, '0', '24065', 26.0, '', 'S')
(1107, 1, 'Head, Mr. Christopher', 'male', 42, 0, '0', '113038', 42.5, 'B11', 'S')
(1109, 1, 'Wick, Mr. George Dennick', 'male', 57, 1, '1', '36928', 164.867, '', 'S')
(1110, 1, 'Widener, Mrs. George Dunton (Eleanor Elkins)', 'female', 50, 1, '1', '113503', 211.5, 'C80', 'C')
(1112, 2, 'Duran y More, Miss. Florentina', 'female', 30, 1, '0', 'SC/PARIS 2148', 13.8583, '', 'C')
(1114, 2, 'Cook, Mrs. (Selena Rogers)', 'female', 22, 0, '0', 'W./C. 14266', 10.5, 'F33', 'S')
(1116, 1, 'Candee, Mrs. Edward (Helen Churchill Hungerford)', 'female', 53, 0, '0', 'PC 17606', 27.4458, '', 'C')
(1121, 2, 'Hocking, Mr. Samuel James Metcalfe', 'male', 36, 0, '0', '242963', 13.0, '', 'S')
(1122, 2, 'Sweet, Mr. George Frederick', 'male', 14, 0, '0', '220845', 65.0, '', 'S')
(1123, 1, 'Willard, Miss. Constance', 'female', 21, 0, '0', '113795', 26.55, '', 'S')
(1126, 1, 'Cumings, Mr. John Bradley', 'male', 39, 1, '0', 'PC 17599', 71.2833, 'C85', 'C')
(1128, 1, 'Warren, Mr. Frank Manley', 'male', 64, 1, '0', '110813', 75.25, 'D37', 'C')
(1130, 2, 'Hiltunen, Miss. Marta', 'female', 18, 1, '1', '250650', 13.0, '', 'S')
(1131, 1, 'Douglas, Mrs. Walter Donald (Mahala Dutton)', 'female', 48, 1, '0', 'PC 17761', 106.425, 'C86', 'C')
(1132, 1, 'Lindstrom, Mrs. Carl Johan (Sigrid Posse)', 'female', 55, 0, '0', '112377', 27.7208, '', 'C')
(1133, 2, 'Christy, Mrs. (Alice Frances)', 'female', 45, 0, '2', '237789', 30.0, '', 'S')
(1134, 1, 'Spedden, Mr. Frederic Oakley', 'male', 45, 1, '1', '16966', 134.5, 'E34', 'C')
(1137, 1, 'Kenyon, Mr. Frederick R', 'male', 41, 1, '0', '17464', 51.8625, 'D21', 'S')
(1138, 2, 'Karnes, Mrs. J Frank (Claire Bennett)', 'female', 22, 0, '0', 'F.C.C. 13534', 21.0, '', 'S')
(1139, 2, 'Drew, Mr. James Vivian', 'male', 42, 1, '1', '28220', 32.5, '', 'S')
(1140, 2, 'Hold, Mrs. Stephen (Annie Margaret Hill)', 'female', 29, 1, '0', '26707', 26.0, '', 'S')
(1142, 2, 'West, Miss. Barbara J', 'female', 1, 1, '2', 'C.A. 34651', 27.75, '', 'S')
(1144, 1, 'Clark, Mr. Walter Miller', 'male', 27, 1, '0', '13508', 136.779, 'C89', 'C')
(1150, 2, 'Bentham, Miss. Lilian W', 'female', 19, 0, '0', '28404', 13.0, '', 'S')
(1154, 2, 'Wells, Mrs. Arthur Henry (Addie Dart Trevaskis)', 'female', 29, 0, '2', '29103', 23.0, '', 'S')
(1156, 2, 'Portaluppi, Mr. Emilio Ilario Giuseppe', 'male', 30, 0, '0', 'C.A. 34644', 12.7375, '', 'C')
(1158, 1, 'Chisholm, Mr. Roderick Robert Crispin', 'male', 0, 0, '0', '112051', 0.0, '', 'S')
(1162, 1, 'McCaffry, Mr. Thomas Francis', 'male', 46, 0, '0', '13050', 75.2417, 'C6', 'C')
(1164, 1, 'Clark, Mrs. Walter Miller (Virginia McDowell)', 'female', 26, 1, '0', '13508', 136.779, 'C89', 'C')
(1167, 2, 'Bryhl, Miss. Dagmar Jenny Ingeborg ', 'female', 20, 1, '0', '236853', 26.0, '', 'S')
(1168, 2, 'Parker, Mr. Clifford Richard', 'male', 28, 0, '0', 'SC 14888', 10.5, '', 'S')
(1169, 2, 'Faunthorpe, Mr. Harry', 'male', 40, 1, '0', '2926', 26.0, '', 'S')
(1170, 2, 'Ware, Mr. John James', 'male', 30, 1, '0', 'CA 31352', 21.0, '', 'S')
(1171, 2, 'Oxenham, Mr. Percy Thomas', 'male', 22, 0, '0', 'W./C. 14260', 10.5, '', 'S')
(1179, 1, 'Snyder, Mr. John Pillsbury', 'male', 24, 1, '0', '21228', 82.2667, 'B45', 'S')
(1182, 1, 'Rheims, Mr. George Alexander Lucien', 'male', 0, 0, '0', 'PC 17607', 39.6, '', 'S')
(1185, 1, 'Dodge, Dr. Washington', 'male', 53, 1, '1', '33638', 81.8583, 'A34', 'S')
(1188, 2, 'Laroche, Miss. Louise', 'female', 1, 1, '2', 'SC/Paris 2123', 41.5792, '', 'C')
(1190, 1, 'Loring, Mr. Joseph Holland', 'male', 30, 0, '0', '113801', 45.5, '', 'S')
(1193, 2, 'Malachard, Mr. Noel', 'male', 0, 0, '0', '237735', 15.0458, 'D', 'C')
(1194, 2, 'Phillips, Mr. Escott Robert', 'male', 43, 0, '1', 'S.O./P.P. 2', 21.0, '', 'S')
(1197, 1, 'Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)', 'female', 64, 1, '1', '112901', 26.55, 'B26', 'S')
(1198, 1, 'Allison, Mr. Hudson Joshua Creighton', 'male', 30, 1, '2', '113781', 151.55, 'C22 C26', 'S')
(1200, 1, 'Hays, Mr. Charles Melville', 'male', 55, 1, '1', '12749', 93.5, 'B69', 'S')
(1206, 1, 'White, Mrs. John Stuart (Ella Holmes)', 'female', 55, 0, '0', 'PC 17760', 135.633, 'C32', 'C')
(1208, 1, 'Spencer, Mr. William Augustus', 'male', 57, 1, '0', 'PC 17569', 146.521, 'B78', 'C')
(1209, 2, 'Rogers, Mr. Reginald Harry', 'male', 19, 0, '0', '28004', 10.5, '', 'S')
(1211, 2, 'Jefferys, Mr. Ernest Wilfred', 'male', 22, 2, '0', 'C.A. 31029', 31.5, '', 'S')
(1214, 2, 'Nesson, Mr. Israel', 'male', 26, 0, '0', '244368', 13.0, 'F2', 'S')
(1215, 1, 'Rowe, Mr. Alfred G', 'male', 33, 0, '0', '113790', 26.55, '', 'S')
(1216, 1, 'Kreuchen, Miss. Emilie', 'female', 39, 0, '0', '24160', 211.337, '', 'S')
(1218, 2, 'Becker, Miss. Ruth Elizabeth', 'female', 12, 2, '1', '230136', 39.0, 'F4', 'S')
(1219, 1, 'Rosenshine, Mr. George (Mr George Thorne)', 'male', 46, 0, '0', 'PC 17585', 79.2, '', 'C')
(1220, 2, 'Clarke, Mr. Charles Valentine', 'male', 29, 1, '0', '2003', 26.0, '', 'S')
(1221, 2, 'Enander, Mr. Ingvar', 'male', 21, 0, '0', '236854', 13.0, '', 'S')
(1222, 2, 'Davies, Mrs. John Morgan (Elizabeth Agnes Mary White) ', 'female', 48, 0, '2', 'C.A. 33112', 36.75, '', 'S')
(1223, 1, 'Dulles, Mr. William Crothers', 'male', 39, 0, '0', 'PC 17580', 29.7, 'A18', 'C')
(1227, 1, 'Maguire, Mr. John Edward', 'male', 30, 0, '0', '110469', 26.0, 'C106', 'S')
(1228, 2, 'de Brito, Mr. Jose Joaquim', 'male', 32, 0, '0', '244360', 13.0, '', 'S')
(1230, 2, 'Denbury, Mr. Herbert', 'male', 25, 0, '0', 'C.A. 31029', 31.5, '', 'S')
(1232, 2, 'Fillbrook, Mr. Joseph Charles', 'male', 18, 0, '0', 'C.A. 15185', 10.5, '', 'S')
(1235, 1, 'Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)', 'female', 58, 0, '1', 'PC 17755', 512.329, 'B51 B53 B55', 'C')
(1238, 2, 'Botsford, Mr. William Hull', 'male', 26, 0, '0', '237670', 13.0, '', 'S')
(1240, 2, 'Giles, Mr. Ralph', 'male', 24, 0, '0', '248726', 13.5, '', 'S')
(1241, 2, 'Walcroft, Miss. Nellie', 'female', 31, 0, '0', 'F.C.C. 13528', 21.0, '', 'S')
(1242, 1, 'Greenfield, Mrs. Leo David (Blanche Strouse)', 'female', 45, 0, '1', 'PC 17759', 63.3583, 'D10 D12', 'C')
(1243, 2, 'Stokes, Mr. Philip Joseph', 'male', 25, 0, '0', 'F.C.C. 13540', 10.5, '', 'S')
(1244, 2, 'Dibden, Mr. William', 'male', 18, 0, '0', 'S.O.C. 14879', 73.5, '', 'S')
(1245, 2, 'Herman, Mr. Samuel', 'male', 49, 1, '2', '220845', 65.0, '', 'S')
(1247, 1, 'Julian, Mr. Henry Forbes', 'male', 50, 0, '0', '113044', 26.0, 'E60', 'S')
(1248, 1, 'Brown, Mrs. John Murray (Caroline Lane Lamson)', 'female', 59, 2, '0', '11769', 51.4792, 'C101', 'S')
(1253, 2, 'Mallet, Mrs. Albert (Antoinette Magnin)', 'female', 24, 1, '1', 'S.C./PARIS 2079', 37.0042, '', 'C')
(1254, 2, 'Ware, Mrs. John James (Florence Louise Long)', 'female', 31, 0, '0', 'CA 31352', 21.0, '', 'S')
(1256, 1, 'Harder, Mrs. George Achilles (Dorothy Annan)', 'female', 25, 1, '0', '11765', 55.4417, 'E50', 'C')
(1260, 1, 'Gibson, Mrs. Leonard (Pauline C Boeson)', 'female', 45, 0, '1', '112378', 59.4, '', 'C')
(1261, 2, 'Pallas y Castello, Mr. Emilio', 'male', 29, 0, '0', 'SC/PARIS 2147', 13.8583, '', 'C')
(1262, 2, 'Giles, Mr. Edgar', 'male', 21, 1, '0', '28133', 11.5, '', 'S')
(1263, 1, 'Wilson, Miss. Helen Alice', 'female', 31, 0, '0', '16966', 134.5, 'E39 E41', 'C')
(1264, 1, 'Ismay, Mr. Joseph Bruce', 'male', 49, 0, '0', '112058', 0.0, 'B52 B54 B56', 'S')
(1265, 2, 'Harbeck, Mr. William H', 'male', 44, 0, '0', '248746', 13.0, '', 'S')
(1266, 1, 'Dodge, Mrs. Washington (Ruth Vidaver)', 'female', 54, 1, '1', '33638', 81.8583, 'A34', 'S')
(1267, 1, 'Bowen, Miss. Grace Scott', 'female', 45, 0, '0', 'PC 17608', 262.375, '', 'C')
(1269, 2, 'Cotterill, Mr. Henry Harry', 'male', 21, 0, '0', '29107', 11.5, '', 'S')
(1270, 1, 'Hipkins, Mr. William Edward', 'male', 55, 0, '0', '680', 50.0, 'C39', 'S')
(1276, 2, 'Wheeler, Mr. Edwin Frederick', 'male', 0, 0, '0', 'SC/PARIS 2159', 12.875, '', 'S')
(1277, 2, 'Herman, Miss. Kate', 'female', 24, 1, '2', '220845', 65.0, '', 'S')
(1279, 2, 'Ashby, Mr. John', 'male', 57, 0, '0', '244346', 13.0, '', 'S')
(1282, 1, 'Payne, Mr. Vivian Ponsonby', 'male', 23, 0, '0', '12749', 93.5, 'B24', 'S')
(1283, 1, 'Lines, Mrs. Ernest H (Elizabeth Lindsey James)', 'female', 51, 0, '1', 'PC 17592', 39.4, 'D28', 'S')
(1285, 2, 'Gilbert, Mr. William', 'male', 47, 0, '0', 'C.A. 30769', 10.5, '', 'S')
(1287, 1, 'Smith, Mrs. Lucien Philip (Mary Eloise Hughes)', 'female', 18, 1, '0', '13695', 60.0, 'C31', 'S')
(1289, 1, 'Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)', 'female', 48, 1, '1', '13567', 79.2, 'B41', 'C')
(1292, 1, 'Bonnell, Miss. Caroline', 'female', 30, 0, '0', '36928', 164.867, 'C7', 'S')
(1293, 2, 'Gale, Mr. Harry', 'male', 38, 1, '0', '28664', 21.0, '', 'S')
(1294, 1, 'Gibson, Miss. Dorothy Winifred', 'female', 22, 0, '1', '112378', 59.4, '', 'C')
(1295, 1, 'Carrau, Mr. Jose Pedro', 'male', 17, 0, '0', '113059', 47.1, '', 'S')
(1296, 1, 'Frauenthal, Mr. Isaac Gerald', 'male', 43, 1, '0', '17765', 27.7208, 'D40', 'C')
(1297, 2, 'Nourney, Mr. Alfred (Baron von Drachstedt)', 'male', 20, 0, '0', 'SC/PARIS 2166', 13.8625, 'D38', 'C')
(1298, 2, 'Ware, Mr. William Jeffery', 'male', 23, 1, '0', '28666', 10.5, '', 'S')
(1299, 1, 'Widener, Mr. George Dunton', 'male', 50, 1, '1', '113503', 211.5, 'C80', 'C')
(1303, 1, 'Minahan, Mrs. William Edward (Lillian E Thorpe)', 'female', 37, 1, '0', '19928', 90.0, 'C78', 'Q')
(1306, 1, 'Oliva y Ocana, Dona. Fermina', 'female', 39, 0, '0', 'PC 17758', 108.9, 'C105', 'C')

In [59]:
df[ df.Pclass.isin([1,2]) ]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,894,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9.6875,,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26,1,1,248738,29.0000,,S
11,903,1,"Jones, Mr. Charles Cresson",male,46,0,0,694,26.0000,,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63,1,0,24065,26.0000,,S
...,...,...,...,...,...,...,...,...,...,...,...
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt)",male,20,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23,1,0,28666,10.5000,,S
407,1299,1,"Widener, Mr. George Dunton",male,50,1,1,113503,211.5000,C80,C
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37,1,0,19928,90.0000,C78,Q
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108.9000,C105,C

In [61]:
conn.execute("""
    SELECT * FROM titanic
      WHERE Pclass IN (1,2);
""")
rs = conn.fetchall()
for i in rs: print(i)

(894, 2, 'Myles, Mr. Thomas Francis', 'male', 62, 0, '0', '240276', 9.6875, '', 'Q')
(899, 2, 'Caldwell, Mr. Albert Francis', 'male', 26, 1, '1', '248738', 29.0, '', 'S')
(903, 1, 'Jones, Mr. Charles Cresson', 'male', 46, 0, '0', '694', 26.0, '', 'S')
(904, 1, 'Snyder, Mrs. John Pillsbury (Nelle Stevenson)', 'female', 23, 1, '0', '21228', 82.2667, 'B45', 'S')
(905, 2, 'Howard, Mr. Benjamin', 'male', 63, 1, '0', '24065', 26.0, '', 'S')
(906, 1, 'Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)', 'female', 47, 1, '0', 'W.E.P. 5734', 61.175, 'E31', 'S')
(907, 2, 'del Carlo, Mrs. Sebastiano (Argenia Genovesi)', 'female', 24, 1, '0', 'SC/PARIS 2167', 27.7208, '', 'C')
(908, 2, 'Keane, Mr. Daniel', 'male', 35, 0, '0', '233734', 12.35, '', 'Q')
(912, 1, 'Rothschild, Mr. Martin', 'male', 55, 1, '0', 'PC 17603', 59.4, '', 'C')
(914, 1, 'Flegenheim, Mrs. Alfred (Antoinette)', 'female', 0, 0, '0', 'PC 17598', 31.6833, '', 'S')
(915, 1, 'Williams, Mr. Richard Norris II', 'male', 21, 0, '1', 'PC 17597', 61.3792, '', 'C')
(916, 1, 'Ryerson, Mrs. Arthur Larned (Emily Maria Borie)', 'female', 48, 1, '3', 'PC 17608', 262.375, 'B57 B59 B63 B66', 'C')
(918, 1, 'Ostby, Miss. Helene Ragnhild', 'female', 22, 0, '1', '113509', 61.9792, 'B36', 'C')
(920, 1, 'Brady, Mr. John Bertram', 'male', 41, 0, '0', '113054', 30.5, 'A21', 'S')
(922, 2, 'Louch, Mr. Charles Alexander', 'male', 50, 1, '0', 'SC/AH 3085', 26.0, '', 'S')
(923, 2, 'Jefferys, Mr. Clifford Thomas', 'male', 24, 2, '0', 'C.A. 31029', 31.5, '', 'S')
(926, 1, 'Mock, Mr. Philipp Edmund', 'male', 30, 1, '0', '13236', 57.75, 'C78', 'C')
(933, 1, 'Franklin, Mr. Thomas Parham', 'male', 0, 0, '0', '113778', 26.55, 'D34', 'S')
(935, 2, 'Corbett, Mrs. Walter H (Irene Colvin)', 'female', 30, 0, '0', '237249', 13.0, '', 'S')
(936, 1, 'Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)', 'female', 45, 1, '0', '11753', 52.5542, 'D19', 'S')
(938, 1, 'Chevre, Mr. Paul Romaine', 'male', 45, 0, '0', 'PC 17594', 29.7, 'A9', 'C')
(940, 1, 'Bucknell, Mrs. William Robert (Emma Eliza Ward)', 'female', 60, 0, '0', '11813', 76.2917, 'D15', 'C')
(942, 1, 'Smith, Mr. Lucien Philip', 'male', 24, 1, '0', '13695', 60.0, 'C31', 'S')
(943, 2, 'Pulbaum, Mr. Franz', 'male', 27, 0, '0', 'SC/PARIS 2168', 15.0333, '', 'C')
(944, 2, 'Hocking, Miss. Ellen Nellie', 'female', 20, 2, '1', '29105', 23.0, '', 'S')
(945, 1, 'Fortune, Miss. Ethel Flora', 'female', 28, 3, '2', '19950', 263.0, 'C23 C25 C27', 'S')
(946, 2, 'Mangiavacchi, Mr. Serafino Emilio', 'male', 0, 0, '0', 'SC/A.3 2861', 15.5792, '', 'C')
(951, 1, 'Chaudanson, Miss. Victorine', 'female', 36, 0, '0', 'PC 17608', 262.375, 'B61', 'C')
(953, 2, 'McCrae, Mr. Arthur Gordon', 'male', 32, 0, '0', '237216', 13.5, '', 'S')
(956, 1, 'Ryerson, Master. John Borie', 'male', 13, 2, '2', 'PC 17608', 262.375, 'B57 B59 B63 B66', 'C')
(957, 2, 'Corey, Mrs. Percy C (Mary Phyllis Elizabeth Miller)', 'female', 0, 0, '0', 'F.C.C. 13534', 21.0, '', 'S')
(959, 1, 'Moore, Mr. Clarence Bloomfield', 'male', 47, 0, '0', '113796', 42.4, '', 'S')
(960, 1, 'Tucker, Mr. Gilbert Milligan Jr', 'male', 31, 0, '0', '2543', 28.5375, 'C53', 'C')
(961, 1, 'Fortune, Mrs. Mark (Mary McDougald)', 'female', 60, 1, '4', '19950', 263.0, 'C23 C25 C27', 'S')
(965, 1, 'Ovies y Rodriguez, Mr. Servando', 'male', 29, 0, '0', 'PC 17562', 27.7208, 'D43', 'C')
(966, 1, 'Geiger, Miss. Amalie', 'female', 35, 0, '0', '113503', 211.5, 'C130', 'C')
(967, 1, 'Keeping, Mr. Edwin', 'male', 33, 0, '0', '113503', 211.5, 'C132', 'C')
(969, 1, 'Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)', 'female', 55, 2, '0', '11770', 25.7, 'C101', 'S')
(970, 2, 'Aldworth, Mr. Charles Augustus', 'male', 30, 0, '0', '248744', 13.0, '', 'S')
(973, 1, 'Straus, Mr. Isidor', 'male', 67, 1, '0', 'PC 17483', 221.779, 'C55 C57', 'S')
(974, 1, 'Case, Mr. Howard Brown', 'male', 49, 0, '0', '19924', 26.0, '', 'S')
(976, 2, 'Lamb, Mr. John Joseph', 'male', 0, 0, '0', '240261', 10.7083, '', 'Q')
(981, 2, 'Wells, Master. Ralph Lester', 'male', 2, 1, '1', '29103', 23.0, '', 'S')
(984, 1, 'Davidson, Mrs. Thornton (Orian Hays)', 'female', 27, 1, '2', 'F.C. 12750', 52.0, 'B71', 'S')
(986, 1, 'Birnbaum, Mr. Jakob', 'male', 25, 0, '0', '13905', 26.0, '', 'C')
(988, 1, 'Cavendish, Mrs. Tyrell William (Julia Florence Siegel)', 'female', 76, 1, '0', '19877', 78.85, 'C46', 'S')
(992, 1, 'Stengel, Mrs. Charles Emil Henry (Annie May Morris)', 'female', 43, 1, '0', '11778', 55.4417, 'C116', 'C')
(993, 2, 'Weisz, Mr. Leopold', 'male', 27, 1, '0', '228414', 26.0, '', 'S')
(1001, 2, 'Swane, Mr. George', 'male', 19, 0, '0', '248734', 13.0, 'F', 'S')
(1002, 2, 'Stanton, Mr. Samuel Ward', 'male', 41, 0, '0', '237734', 15.0458, '', 'C')
(1004, 1, 'Evans, Miss. Edith Corse', 'female', 36, 0, '0', 'PC 17531', 31.6792, 'A29', 'C')
(1006, 1, 'Straus, Mrs. Isidor (Rosalie Ida Blun)', 'female', 63, 1, '0', 'PC 17483', 221.779, 'C55 C57', 'S')
(1010, 1, 'Beattie, Mr. Thomson', 'male', 36, 0, '0', '13050', 75.2417, 'C6', 'C')
(1011, 2, 'Chapman, Mrs. John Henry (Sara Elizabeth Lawry)', 'female', 29, 1, '0', 'SC/AH 29037', 26.0, '', 'S')
(1012, 2, 'Watt, Miss. Bertha J', 'female', 12, 0, '0', 'C.A. 33595', 15.75, '', 'S')
(1014, 1, 'Schabert, Mrs. Paul (Emma Mock)', 'female', 35, 1, '0', '13236', 57.75, 'C28', 'C')
(1020, 2, 'Bowenur, Mr. Solomon', 'male', 42, 0, '0', '211535', 13.0, '', 'S')
(1023, 1, 'Gracie, Col. Archibald IV', 'male', 53, 0, '0', '113780', 28.5, 'C51', 'C')
(1029, 2, 'Schmidt, Mr. August', 'male', 26, 0, '0', '248659', 13.0, '', 'S')
(1033, 1, 'Daniels, Miss. Sarah', 'female', 33, 0, '0', '113781', 151.55, '', 'S')
(1034, 1, 'Ryerson, Mr. Arthur Larned', 'male', 61, 1, '3', 'PC 17608', 262.375, 'B57 B59 B63 B66', 'C')
(1035, 2, 'Beauchamp, Mr. Henry James', 'male', 28, 0, '0', '244358', 26.0, '', 'S')
(1036, 1, 'Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey)', 'male', 42, 0, '0', '17475', 26.55, '', 'S')
(1038, 1, 'Hilliard, Mr. Herbert Henry', 'male', 0, 0, '0', '17463', 51.8625, 'E46', 'S')
(1040, 1, 'Crafton, Mr. John Bertram', 'male', 0, 0, '0', '113791', 26.55, '', 'S')
(1041, 2, 'Lahtinen, Rev. William', 'male', 30, 1, '1', '250651', 26.0, '', 'S')
(1042, 1, 'Earnshaw, Mrs. Boulton (Olive Potter)', 'female', 23, 0, '1', '11767', 83.1583, 'C54', 'C')
(1048, 1, 'Bird, Miss. Ellen', 'female', 29, 0, '0', 'PC 17483', 221.779, 'C97', 'S')
(1050, 1, 'Borebank, Mr. John James', 'male', 42, 0, '0', '110489', 26.55, 'D22', 'S')
(1054, 2, 'Wright, Miss. Marion', 'female', 26, 0, '0', '220844', 13.5, '', 'S')
(1056, 2, 'Peruschitz, Rev. Joseph Maria', 'male', 41, 0, '0', '237393', 13.0, '', 'S')
(1058, 1, 'Brandeis, Mr. Emil', 'male', 48, 0, '0', 'PC 17591', 50.4958, 'B10', 'C')
(1060, 1, 'Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)', 'female', 0, 0, '0', '17770', 27.7208, '', 'C')
(1067, 2, 'Brown, Miss. Edith Eileen', 'female', 15, 0, '2', '29750', 39.0, '', 'S')
(1068, 2, 'Sincock, Miss. Maude', 'female', 20, 0, '0', 'C.A. 33112', 36.75, '', 'S')
(1069, 1, 'Stengel, Mr. Charles Emil Henry', 'male', 54, 1, '0', '11778', 55.4417, 'C116', 'C')
(1070, 2, 'Becker, Mrs. Allen Oliver (Nellie E Baumgardner)', 'female', 36, 0, '3', '230136', 39.0, 'F4', 'S')
(1071, 1, 'Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)', 'female', 64, 0, '2', 'PC 17756', 83.1583, 'E45', 'C')
(1072, 2, 'McCrie, Mr. James Matthew', 'male', 30, 0, '0', '233478', 13.0, '', 'S')
(1073, 1, 'Compton, Mr. Alexander Taylor Jr', 'male', 37, 1, '1', 'PC 17756', 83.1583, 'E52', 'C')
(1074, 1, 'Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)', 'female', 18, 1, '0', '113773', 53.1, 'D30', 'S')
(1076, 1, 'Douglas, Mrs. Frederick Charles (Mary Helene Baxter)', 'female', 27, 1, '1', 'PC 17558', 247.521, 'B58 B60', 'C')
(1077, 2, 'Maybery, Mr. Frank Hubert', 'male', 40, 0, '0', '239059', 16.0, '', 'S')
(1078, 2, 'Phillips, Miss. Alice Frances Louisa', 'female', 21, 0, '1', 'S.O./P.P. 2', 21.0, '', 'S')
(1081, 2, 'Veal, Mr. James', 'male', 40, 0, '0', '28221', 13.0, '', 'S')
(1082, 2, 'Angle, Mr. William A', 'male', 34, 1, '0', '226875', 26.0, '', 'S')
(1083, 1, 'Salomon, Mr. Abraham L', 'male', 0, 0, '0', '111163', 26.0, '', 'S')
(1085, 2, 'Lingane, Mr. John', 'male', 61, 0, '0', '235509', 12.35, '', 'Q')
(1086, 2, 'Drew, Master. Marshall Brines', 'male', 8, 0, '2', '28220', 32.5, '', 'S')
(1088, 1, 'Spedden, Master. Robert Douglas', 'male', 6, 0, '2', '16966', 134.5, 'E34', 'C')
(1090, 2, 'Baimbrigge, Mr. Charles Robert', 'male', 23, 0, '0', 'C.A. 31030', 10.5, '', 'S')
(1094, 1, 'Astor, Col. John Jacob', 'male', 47, 1, '0', 'PC 17757', 227.525, 'C62 C64', 'C')
(1095, 2, 'Quick, Miss. Winifred Vera', 'female', 8, 1, '1', '26360', 26.0, '', 'S')
(1096, 2, 'Andrew, Mr. Frank Thomas', 'male', 25, 0, '0', 'C.A. 34050', 10.5, '', 'S')
(1097, 1, 'Omont, Mr. Alfred Fernand', 'male', 0, 0, '0', 'F.C. 12998', 25.7417, '', 'C')
(1099, 2, 'Collett, Mr. Sidney C Stuart', 'male', 24, 0, '0', '28034', 10.5, '', 'S')
(1100, 1, 'Rosenbaum, Miss. Edith Louise', 'female', 33, 0, '0', 'PC 17613', 27.7208, 'A11', 'C')
(1104, 2, 'Deacon, Mr. Percy William', 'male', 17, 0, '0', 'S.O.C. 14879', 73.5, '', 'S')
(1105, 2, 'Howard, Mrs. Benjamin (Ellen Truelove Arman)', 'female', 60, 1, '0', '24065', 26.0, '', 'S')
(1107, 1, 'Head, Mr. Christopher', 'male', 42, 0, '0', '113038', 42.5, 'B11', 'S')
(1109, 1, 'Wick, Mr. George Dennick', 'male', 57, 1, '1', '36928', 164.867, '', 'S')
(1110, 1, 'Widener, Mrs. George Dunton (Eleanor Elkins)', 'female', 50, 1, '1', '113503', 211.5, 'C80', 'C')
(1112, 2, 'Duran y More, Miss. Florentina', 'female', 30, 1, '0', 'SC/PARIS 2148', 13.8583, '', 'C')
(1114, 2, 'Cook, Mrs. (Selena Rogers)', 'female', 22, 0, '0', 'W./C. 14266', 10.5, 'F33', 'S')
(1116, 1, 'Candee, Mrs. Edward (Helen Churchill Hungerford)', 'female', 53, 0, '0', 'PC 17606', 27.4458, '', 'C')
(1121, 2, 'Hocking, Mr. Samuel James Metcalfe', 'male', 36, 0, '0', '242963', 13.0, '', 'S')
(1122, 2, 'Sweet, Mr. George Frederick', 'male', 14, 0, '0', '220845', 65.0, '', 'S')
(1123, 1, 'Willard, Miss. Constance', 'female', 21, 0, '0', '113795', 26.55, '', 'S')
(1126, 1, 'Cumings, Mr. John Bradley', 'male', 39, 1, '0', 'PC 17599', 71.2833, 'C85', 'C')
(1128, 1, 'Warren, Mr. Frank Manley', 'male', 64, 1, '0', '110813', 75.25, 'D37', 'C')
(1130, 2, 'Hiltunen, Miss. Marta', 'female', 18, 1, '1', '250650', 13.0, '', 'S')
(1131, 1, 'Douglas, Mrs. Walter Donald (Mahala Dutton)', 'female', 48, 1, '0', 'PC 17761', 106.425, 'C86', 'C')
(1132, 1, 'Lindstrom, Mrs. Carl Johan (Sigrid Posse)', 'female', 55, 0, '0', '112377', 27.7208, '', 'C')
(1133, 2, 'Christy, Mrs. (Alice Frances)', 'female', 45, 0, '2', '237789', 30.0, '', 'S')
(1134, 1, 'Spedden, Mr. Frederic Oakley', 'male', 45, 1, '1', '16966', 134.5, 'E34', 'C')
(1137, 1, 'Kenyon, Mr. Frederick R', 'male', 41, 1, '0', '17464', 51.8625, 'D21', 'S')
(1138, 2, 'Karnes, Mrs. J Frank (Claire Bennett)', 'female', 22, 0, '0', 'F.C.C. 13534', 21.0, '', 'S')
(1139, 2, 'Drew, Mr. James Vivian', 'male', 42, 1, '1', '28220', 32.5, '', 'S')
(1140, 2, 'Hold, Mrs. Stephen (Annie Margaret Hill)', 'female', 29, 1, '0', '26707', 26.0, '', 'S')
(1142, 2, 'West, Miss. Barbara J', 'female', 1, 1, '2', 'C.A. 34651', 27.75, '', 'S')
(1144, 1, 'Clark, Mr. Walter Miller', 'male', 27, 1, '0', '13508', 136.779, 'C89', 'C')
(1150, 2, 'Bentham, Miss. Lilian W', 'female', 19, 0, '0', '28404', 13.0, '', 'S')
(1154, 2, 'Wells, Mrs. Arthur Henry (Addie Dart Trevaskis)', 'female', 29, 0, '2', '29103', 23.0, '', 'S')
(1156, 2, 'Portaluppi, Mr. Emilio Ilario Giuseppe', 'male', 30, 0, '0', 'C.A. 34644', 12.7375, '', 'C')
(1158, 1, 'Chisholm, Mr. Roderick Robert Crispin', 'male', 0, 0, '0', '112051', 0.0, '', 'S')
(1162, 1, 'McCaffry, Mr. Thomas Francis', 'male', 46, 0, '0', '13050', 75.2417, 'C6', 'C')
(1164, 1, 'Clark, Mrs. Walter Miller (Virginia McDowell)', 'female', 26, 1, '0', '13508', 136.779, 'C89', 'C')
(1167, 2, 'Bryhl, Miss. Dagmar Jenny Ingeborg ', 'female', 20, 1, '0', '236853', 26.0, '', 'S')
(1168, 2, 'Parker, Mr. Clifford Richard', 'male', 28, 0, '0', 'SC 14888', 10.5, '', 'S')
(1169, 2, 'Faunthorpe, Mr. Harry', 'male', 40, 1, '0', '2926', 26.0, '', 'S')
(1170, 2, 'Ware, Mr. John James', 'male', 30, 1, '0', 'CA 31352', 21.0, '', 'S')
(1171, 2, 'Oxenham, Mr. Percy Thomas', 'male', 22, 0, '0', 'W./C. 14260', 10.5, '', 'S')
(1179, 1, 'Snyder, Mr. John Pillsbury', 'male', 24, 1, '0', '21228', 82.2667, 'B45', 'S')
(1182, 1, 'Rheims, Mr. George Alexander Lucien', 'male', 0, 0, '0', 'PC 17607', 39.6, '', 'S')
(1185, 1, 'Dodge, Dr. Washington', 'male', 53, 1, '1', '33638', 81.8583, 'A34', 'S')
(1188, 2, 'Laroche, Miss. Louise', 'female', 1, 1, '2', 'SC/Paris 2123', 41.5792, '', 'C')
(1190, 1, 'Loring, Mr. Joseph Holland', 'male', 30, 0, '0', '113801', 45.5, '', 'S')
(1193, 2, 'Malachard, Mr. Noel', 'male', 0, 0, '0', '237735', 15.0458, 'D', 'C')
(1194, 2, 'Phillips, Mr. Escott Robert', 'male', 43, 0, '1', 'S.O./P.P. 2', 21.0, '', 'S')
(1197, 1, 'Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)', 'female', 64, 1, '1', '112901', 26.55, 'B26', 'S')
(1198, 1, 'Allison, Mr. Hudson Joshua Creighton', 'male', 30, 1, '2', '113781', 151.55, 'C22 C26', 'S')
(1200, 1, 'Hays, Mr. Charles Melville', 'male', 55, 1, '1', '12749', 93.5, 'B69', 'S')
(1206, 1, 'White, Mrs. John Stuart (Ella Holmes)', 'female', 55, 0, '0', 'PC 17760', 135.633, 'C32', 'C')
(1208, 1, 'Spencer, Mr. William Augustus', 'male', 57, 1, '0', 'PC 17569', 146.521, 'B78', 'C')
(1209, 2, 'Rogers, Mr. Reginald Harry', 'male', 19, 0, '0', '28004', 10.5, '', 'S')
(1211, 2, 'Jefferys, Mr. Ernest Wilfred', 'male', 22, 2, '0', 'C.A. 31029', 31.5, '', 'S')
(1214, 2, 'Nesson, Mr. Israel', 'male', 26, 0, '0', '244368', 13.0, 'F2', 'S')
(1215, 1, 'Rowe, Mr. Alfred G', 'male', 33, 0, '0', '113790', 26.55, '', 'S')
(1216, 1, 'Kreuchen, Miss. Emilie', 'female', 39, 0, '0', '24160', 211.337, '', 'S')
(1218, 2, 'Becker, Miss. Ruth Elizabeth', 'female', 12, 2, '1', '230136', 39.0, 'F4', 'S')
(1219, 1, 'Rosenshine, Mr. George (Mr George Thorne)', 'male', 46, 0, '0', 'PC 17585', 79.2, '', 'C')
(1220, 2, 'Clarke, Mr. Charles Valentine', 'male', 29, 1, '0', '2003', 26.0, '', 'S')
(1221, 2, 'Enander, Mr. Ingvar', 'male', 21, 0, '0', '236854', 13.0, '', 'S')
(1222, 2, 'Davies, Mrs. John Morgan (Elizabeth Agnes Mary White) ', 'female', 48, 0, '2', 'C.A. 33112', 36.75, '', 'S')
(1223, 1, 'Dulles, Mr. William Crothers', 'male', 39, 0, '0', 'PC 17580', 29.7, 'A18', 'C')
(1227, 1, 'Maguire, Mr. John Edward', 'male', 30, 0, '0', '110469', 26.0, 'C106', 'S')
(1228, 2, 'de Brito, Mr. Jose Joaquim', 'male', 32, 0, '0', '244360', 13.0, '', 'S')
(1230, 2, 'Denbury, Mr. Herbert', 'male', 25, 0, '0', 'C.A. 31029', 31.5, '', 'S')
(1232, 2, 'Fillbrook, Mr. Joseph Charles', 'male', 18, 0, '0', 'C.A. 15185', 10.5, '', 'S')
(1235, 1, 'Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)', 'female', 58, 0, '1', 'PC 17755', 512.329, 'B51 B53 B55', 'C')
(1238, 2, 'Botsford, Mr. William Hull', 'male', 26, 0, '0', '237670', 13.0, '', 'S')
(1240, 2, 'Giles, Mr. Ralph', 'male', 24, 0, '0', '248726', 13.5, '', 'S')
(1241, 2, 'Walcroft, Miss. Nellie', 'female', 31, 0, '0', 'F.C.C. 13528', 21.0, '', 'S')
(1242, 1, 'Greenfield, Mrs. Leo David (Blanche Strouse)', 'female', 45, 0, '1', 'PC 17759', 63.3583, 'D10 D12', 'C')
(1243, 2, 'Stokes, Mr. Philip Joseph', 'male', 25, 0, '0', 'F.C.C. 13540', 10.5, '', 'S')
(1244, 2, 'Dibden, Mr. William', 'male', 18, 0, '0', 'S.O.C. 14879', 73.5, '', 'S')
(1245, 2, 'Herman, Mr. Samuel', 'male', 49, 1, '2', '220845', 65.0, '', 'S')
(1247, 1, 'Julian, Mr. Henry Forbes', 'male', 50, 0, '0', '113044', 26.0, 'E60', 'S')
(1248, 1, 'Brown, Mrs. John Murray (Caroline Lane Lamson)', 'female', 59, 2, '0', '11769', 51.4792, 'C101', 'S')
(1253, 2, 'Mallet, Mrs. Albert (Antoinette Magnin)', 'female', 24, 1, '1', 'S.C./PARIS 2079', 37.0042, '', 'C')
(1254, 2, 'Ware, Mrs. John James (Florence Louise Long)', 'female', 31, 0, '0', 'CA 31352', 21.0, '', 'S')
(1256, 1, 'Harder, Mrs. George Achilles (Dorothy Annan)', 'female', 25, 1, '0', '11765', 55.4417, 'E50', 'C')
(1260, 1, 'Gibson, Mrs. Leonard (Pauline C Boeson)', 'female', 45, 0, '1', '112378', 59.4, '', 'C')
(1261, 2, 'Pallas y Castello, Mr. Emilio', 'male', 29, 0, '0', 'SC/PARIS 2147', 13.8583, '', 'C')
(1262, 2, 'Giles, Mr. Edgar', 'male', 21, 1, '0', '28133', 11.5, '', 'S')
(1263, 1, 'Wilson, Miss. Helen Alice', 'female', 31, 0, '0', '16966', 134.5, 'E39 E41', 'C')
(1264, 1, 'Ismay, Mr. Joseph Bruce', 'male', 49, 0, '0', '112058', 0.0, 'B52 B54 B56', 'S')
(1265, 2, 'Harbeck, Mr. William H', 'male', 44, 0, '0', '248746', 13.0, '', 'S')
(1266, 1, 'Dodge, Mrs. Washington (Ruth Vidaver)', 'female', 54, 1, '1', '33638', 81.8583, 'A34', 'S')
(1267, 1, 'Bowen, Miss. Grace Scott', 'female', 45, 0, '0', 'PC 17608', 262.375, '', 'C')
(1269, 2, 'Cotterill, Mr. Henry Harry', 'male', 21, 0, '0', '29107', 11.5, '', 'S')
(1270, 1, 'Hipkins, Mr. William Edward', 'male', 55, 0, '0', '680', 50.0, 'C39', 'S')
(1276, 2, 'Wheeler, Mr. Edwin Frederick', 'male', 0, 0, '0', 'SC/PARIS 2159', 12.875, '', 'S')
(1277, 2, 'Herman, Miss. Kate', 'female', 24, 1, '2', '220845', 65.0, '', 'S')
(1279, 2, 'Ashby, Mr. John', 'male', 57, 0, '0', '244346', 13.0, '', 'S')
(1282, 1, 'Payne, Mr. Vivian Ponsonby', 'male', 23, 0, '0', '12749', 93.5, 'B24', 'S')
(1283, 1, 'Lines, Mrs. Ernest H (Elizabeth Lindsey James)', 'female', 51, 0, '1', 'PC 17592', 39.4, 'D28', 'S')
(1285, 2, 'Gilbert, Mr. William', 'male', 47, 0, '0', 'C.A. 30769', 10.5, '', 'S')
(1287, 1, 'Smith, Mrs. Lucien Philip (Mary Eloise Hughes)', 'female', 18, 1, '0', '13695', 60.0, 'C31', 'S')
(1289, 1, 'Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)', 'female', 48, 1, '1', '13567', 79.2, 'B41', 'C')
(1292, 1, 'Bonnell, Miss. Caroline', 'female', 30, 0, '0', '36928', 164.867, 'C7', 'S')
(1293, 2, 'Gale, Mr. Harry', 'male', 38, 1, '0', '28664', 21.0, '', 'S')
(1294, 1, 'Gibson, Miss. Dorothy Winifred', 'female', 22, 0, '1', '112378', 59.4, '', 'C')
(1295, 1, 'Carrau, Mr. Jose Pedro', 'male', 17, 0, '0', '113059', 47.1, '', 'S')
(1296, 1, 'Frauenthal, Mr. Isaac Gerald', 'male', 43, 1, '0', '17765', 27.7208, 'D40', 'C')
(1297, 2, 'Nourney, Mr. Alfred (Baron von Drachstedt)', 'male', 20, 0, '0', 'SC/PARIS 2166', 13.8625, 'D38', 'C')
(1298, 2, 'Ware, Mr. William Jeffery', 'male', 23, 1, '0', '28666', 10.5, '', 'S')
(1299, 1, 'Widener, Mr. George Dunton', 'male', 50, 1, '1', '113503', 211.5, 'C80', 'C')
(1303, 1, 'Minahan, Mrs. William Edward (Lillian E Thorpe)', 'female', 37, 1, '0', '19928', 90.0, 'C78', 'Q')
(1306, 1, 'Oliva y Ocana, Dona. Fermina', 'female', 39, 0, '0', 'PC 17758', 108.9, 'C105', 'C')

In [62]:
df[ (df.Pclass==1) | (df.Pclass==2) ]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,894,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9.6875,,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26,1,1,248738,29.0000,,S
11,903,1,"Jones, Mr. Charles Cresson",male,46,0,0,694,26.0000,,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63,1,0,24065,26.0000,,S
...,...,...,...,...,...,...,...,...,...,...,...
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt)",male,20,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23,1,0,28666,10.5000,,S
407,1299,1,"Widener, Mr. George Dunton",male,50,1,1,113503,211.5000,C80,C
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37,1,0,19928,90.0000,C78,Q
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108.9000,C105,C

### Nombres de los varones de 1Âª clase

In [64]:
conn.execute("""
    SELECT * FROM titanic
      WHERE Pclass=1 AND Sex='male';
""")
rs = conn.fetchall()
for i in rs: print(i)

(903, 1, 'Jones, Mr. Charles Cresson', 'male', 46, 0, '0', '694', 26.0, '', 'S')
(912, 1, 'Rothschild, Mr. Martin', 'male', 55, 1, '0', 'PC 17603', 59.4, '', 'C')
(915, 1, 'Williams, Mr. Richard Norris II', 'male', 21, 0, '1', 'PC 17597', 61.3792, '', 'C')
(920, 1, 'Brady, Mr. John Bertram', 'male', 41, 0, '0', '113054', 30.5, 'A21', 'S')
(926, 1, 'Mock, Mr. Philipp Edmund', 'male', 30, 1, '0', '13236', 57.75, 'C78', 'C')
(933, 1, 'Franklin, Mr. Thomas Parham', 'male', 0, 0, '0', '113778', 26.55, 'D34', 'S')
(938, 1, 'Chevre, Mr. Paul Romaine', 'male', 45, 0, '0', 'PC 17594', 29.7, 'A9', 'C')
(942, 1, 'Smith, Mr. Lucien Philip', 'male', 24, 1, '0', '13695', 60.0, 'C31', 'S')
(956, 1, 'Ryerson, Master. John Borie', 'male', 13, 2, '2', 'PC 17608', 262.375, 'B57 B59 B63 B66', 'C')
(959, 1, 'Moore, Mr. Clarence Bloomfield', 'male', 47, 0, '0', '113796', 42.4, '', 'S')
(960, 1, 'Tucker, Mr. Gilbert Milligan Jr', 'male', 31, 0, '0', '2543', 28.5375, 'C53', 'C')
(965, 1, 'Ovies y Rodriguez, Mr. Servando', 'male', 29, 0, '0', 'PC 17562', 27.7208, 'D43', 'C')
(967, 1, 'Keeping, Mr. Edwin', 'male', 33, 0, '0', '113503', 211.5, 'C132', 'C')
(973, 1, 'Straus, Mr. Isidor', 'male', 67, 1, '0', 'PC 17483', 221.779, 'C55 C57', 'S')
(974, 1, 'Case, Mr. Howard Brown', 'male', 49, 0, '0', '19924', 26.0, '', 'S')
(986, 1, 'Birnbaum, Mr. Jakob', 'male', 25, 0, '0', '13905', 26.0, '', 'C')
(1010, 1, 'Beattie, Mr. Thomson', 'male', 36, 0, '0', '13050', 75.2417, 'C6', 'C')
(1023, 1, 'Gracie, Col. Archibald IV', 'male', 53, 0, '0', '113780', 28.5, 'C51', 'C')
(1034, 1, 'Ryerson, Mr. Arthur Larned', 'male', 61, 1, '3', 'PC 17608', 262.375, 'B57 B59 B63 B66', 'C')
(1036, 1, 'Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey)', 'male', 42, 0, '0', '17475', 26.55, '', 'S')
(1038, 1, 'Hilliard, Mr. Herbert Henry', 'male', 0, 0, '0', '17463', 51.8625, 'E46', 'S')
(1040, 1, 'Crafton, Mr. John Bertram', 'male', 0, 0, '0', '113791', 26.55, '', 'S')
(1050, 1, 'Borebank, Mr. John James', 'male', 42, 0, '0', '110489', 26.55, 'D22', 'S')
(1058, 1, 'Brandeis, Mr. Emil', 'male', 48, 0, '0', 'PC 17591', 50.4958, 'B10', 'C')
(1069, 1, 'Stengel, Mr. Charles Emil Henry', 'male', 54, 1, '0', '11778', 55.4417, 'C116', 'C')
(1073, 1, 'Compton, Mr. Alexander Taylor Jr', 'male', 37, 1, '1', 'PC 17756', 83.1583, 'E52', 'C')
(1083, 1, 'Salomon, Mr. Abraham L', 'male', 0, 0, '0', '111163', 26.0, '', 'S')
(1088, 1, 'Spedden, Master. Robert Douglas', 'male', 6, 0, '2', '16966', 134.5, 'E34', 'C')
(1094, 1, 'Astor, Col. John Jacob', 'male', 47, 1, '0', 'PC 17757', 227.525, 'C62 C64', 'C')
(1097, 1, 'Omont, Mr. Alfred Fernand', 'male', 0, 0, '0', 'F.C. 12998', 25.7417, '', 'C')
(1107, 1, 'Head, Mr. Christopher', 'male', 42, 0, '0', '113038', 42.5, 'B11', 'S')
(1109, 1, 'Wick, Mr. George Dennick', 'male', 57, 1, '1', '36928', 164.867, '', 'S')
(1126, 1, 'Cumings, Mr. John Bradley', 'male', 39, 1, '0', 'PC 17599', 71.2833, 'C85', 'C')
(1128, 1, 'Warren, Mr. Frank Manley', 'male', 64, 1, '0', '110813', 75.25, 'D37', 'C')
(1134, 1, 'Spedden, Mr. Frederic Oakley', 'male', 45, 1, '1', '16966', 134.5, 'E34', 'C')
(1137, 1, 'Kenyon, Mr. Frederick R', 'male', 41, 1, '0', '17464', 51.8625, 'D21', 'S')
(1144, 1, 'Clark, Mr. Walter Miller', 'male', 27, 1, '0', '13508', 136.779, 'C89', 'C')
(1158, 1, 'Chisholm, Mr. Roderick Robert Crispin', 'male', 0, 0, '0', '112051', 0.0, '', 'S')
(1162, 1, 'McCaffry, Mr. Thomas Francis', 'male', 46, 0, '0', '13050', 75.2417, 'C6', 'C')
(1179, 1, 'Snyder, Mr. John Pillsbury', 'male', 24, 1, '0', '21228', 82.2667, 'B45', 'S')
(1182, 1, 'Rheims, Mr. George Alexander Lucien', 'male', 0, 0, '0', 'PC 17607', 39.6, '', 'S')
(1185, 1, 'Dodge, Dr. Washington', 'male', 53, 1, '1', '33638', 81.8583, 'A34', 'S')
(1190, 1, 'Loring, Mr. Joseph Holland', 'male', 30, 0, '0', '113801', 45.5, '', 'S')
(1198, 1, 'Allison, Mr. Hudson Joshua Creighton', 'male', 30, 1, '2', '113781', 151.55, 'C22 C26', 'S')
(1200, 1, 'Hays, Mr. Charles Melville', 'male', 55, 1, '1', '12749', 93.5, 'B69', 'S')
(1208, 1, 'Spencer, Mr. William Augustus', 'male', 57, 1, '0', 'PC 17569', 146.521, 'B78', 'C')
(1215, 1, 'Rowe, Mr. Alfred G', 'male', 33, 0, '0', '113790', 26.55, '', 'S')
(1219, 1, 'Rosenshine, Mr. George (Mr George Thorne)', 'male', 46, 0, '0', 'PC 17585', 79.2, '', 'C')
(1223, 1, 'Dulles, Mr. William Crothers', 'male', 39, 0, '0', 'PC 17580', 29.7, 'A18', 'C')
(1227, 1, 'Maguire, Mr. John Edward', 'male', 30, 0, '0', '110469', 26.0, 'C106', 'S')
(1247, 1, 'Julian, Mr. Henry Forbes', 'male', 50, 0, '0', '113044', 26.0, 'E60', 'S')
(1264, 1, 'Ismay, Mr. Joseph Bruce', 'male', 49, 0, '0', '112058', 0.0, 'B52 B54 B56', 'S')
(1270, 1, 'Hipkins, Mr. William Edward', 'male', 55, 0, '0', '680', 50.0, 'C39', 'S')
(1282, 1, 'Payne, Mr. Vivian Ponsonby', 'male', 23, 0, '0', '12749', 93.5, 'B24', 'S')
(1295, 1, 'Carrau, Mr. Jose Pedro', 'male', 17, 0, '0', '113059', 47.1, '', 'S')
(1296, 1, 'Frauenthal, Mr. Isaac Gerald', 'male', 43, 1, '0', '17765', 27.7208, 'D40', 'C')
(1299, 1, 'Widener, Mr. George Dunton', 'male', 50, 1, '1', '113503', 211.5, 'C80', 'C')

In [66]:
df[ (df.Pclass==1) & (df.Sex=='male') ]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
11,903,1,"Jones, Mr. Charles Cresson",male,46,0,0,694,26.0000,,S
20,912,1,"Rothschild, Mr. Martin",male,55,1,0,PC 17603,59.4000,,C
23,915,1,"Williams, Mr. Richard Norris II",male,21,0,1,PC 17597,61.3792,,C
28,920,1,"Brady, Mr. John Bertram",male,41,0,0,113054,30.5000,A21,S
34,926,1,"Mock, Mr. Philipp Edmund",male,30,1,0,13236,57.7500,C78,C
41,933,1,"Franklin, Mr. Thomas Parham",male,0,0,0,113778,26.5500,D34,S
46,938,1,"Chevre, Mr. Paul Romaine",male,45,0,0,PC 17594,29.7000,A9,C
50,942,1,"Smith, Mr. Lucien Philip",male,24,1,0,13695,60.0000,C31,S
64,956,1,"Ryerson, Master. John Borie",male,13,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
67,959,1,"Moore, Mr. Clarence Bloomfield",male,47,0,0,113796,42.4000,,S
68,960,1,"Tucker, Mr. Gilbert Milligan Jr",male,31,0,0,2543,28.5375,C53,C
73,965,1,"Ovies y Rodriguez, Mr. Servando",male,29,0,0,PC 17562,27.7208,D43,C
75,967,1,"Keeping, Mr. Edwin",male,33,0,0,113503,211.5000,C132,C
81,973,1,"Straus, Mr. Isidor",male,67,1,0,PC 17483,221.7790,C55 C57,S
82,974,1,"Case, Mr. Howard Brown",male,49,0,0,19924,26.0000,,S
94,986,1,"Birnbaum, Mr. Jakob",male,25,0,0,13905,26.0000,,C
118,1010,1,"Beattie, Mr. Thomson",male,36,0,0,13050,75.2417,C6,C
131,1023,1,"Gracie, Col. Archibald IV",male,53,0,0,113780,28.5000,C51,C
142,1034,1,"Ryerson, Mr. Arthur Larned",male,61,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
144,1036,1,"Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lin...",male,42,0,0,17475,26.5500,,S
146,1038,1,"Hilliard, Mr. Herbert Henry",male,0,0,0,17463,51.8625,E46,S
148,1040,1,"Crafton, Mr. John Bertram",male,0,0,0,113791,26.5500,,S
158,1050,1,"Borebank, Mr. John James",male,42,0,0,110489,26.5500,D22,S
166,1058,1,"Brandeis, Mr. Emil",male,48,0,0,PC 17591,50.4958,B10,C
177,1069,1,"Stengel, Mr. Charles Emil Henry",male,54,1,0,11778,55.4417,C116,C
181,1073,1,"Compton, Mr. Alexander Taylor Jr",male,37,1,1,PC 17756,83.1583,E52,C
191,1083,1,"Salomon, Mr. Abraham L",male,0,0,0,111163,26.0000,,S
196,1088,1,"Spedden, Master. Robert Douglas",male,6,0,2,16966,134.5000,E34,C
202,1094,1,"Astor, Col. John Jacob",male,47,1,0,PC 17757,227.5250,C62 C64,C
205,1097,1,"Omont, Mr. Alfred Fernand",male,0,0,0,F.C. 12998,25.7417,,C
215,1107,1,"Head, Mr. Christopher",male,42,0,0,113038,42.5000,B11,S
217,1109,1,"Wick, Mr. George Dennick",male,57,1,1,36928,164.8670,,S
234,1126,1,"Cumings, Mr. John Bradley",male,39,1,0,PC 17599,71.2833,C85,C
236,1128,1,"Warren, Mr. Frank Manley",male,64,1,0,110813,75.2500,D37,C
242,1134,1,"Spedden, Mr. Frederic Oakley",male,45,1,1,16966,134.5000,E34,C
245,1137,1,"Kenyon, Mr. Frederick R",male,41,1,0,17464,51.8625,D21,S
252,1144,1,"Clark, Mr. Walter Miller",male,27,1,0,13508,136.7790,C89,C
266,1158,1,"Chisholm, Mr. Roderick Robert Crispin",male,0,0,0,112051,0.0000,,S
270,1162,1,"McCaffry, Mr. Thomas Francis",male,46,0,0,13050,75.2417,C6,C
287,1179,1,"Snyder, Mr. John Pillsbury",male,24,1,0,21228,82.2667,B45,S
290,1182,1,"Rheims, Mr. George Alexander Lucien",male,0,0,0,PC 17607,39.6000,,S
293,1185,1,"Dodge, Dr. Washington",male,53,1,1,33638,81.8583,A34,S
298,1190,1,"Loring, Mr. Joseph Holland",male,30,0,0,113801,45.5000,,S
306,1198,1,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.5500,C22 C26,S
308,1200,1,"Hays, Mr. Charles Melville",male,55,1,1,12749,93.5000,B69,S
316,1208,1,"Spencer, Mr. William Augustus",male,57,1,0,PC 17569,146.5210,B78,C
323,1215,1,"Rowe, Mr. Alfred G",male,33,0,0,113790,26.5500,,S
327,1219,1,"Rosenshine, Mr. George (Mr George Thorne)",male,46,0,0,PC 17585,79.2000,,C
331,1223,1,"Dulles, Mr. William Crothers",male,39,0,0,PC 17580,29.7000,A18,C
335,1227,1,"Maguire, Mr. John Edward",male,30,0,0,110469,26.0000,C106,S
355,1247,1,"Julian, Mr. Henry Forbes",male,50,0,0,113044,26.0000,E60,S
372,1264,1,"Ismay, Mr. Joseph Bruce",male,49,0,0,112058,0.0000,B52 B54 B56,S
378,1270,1,"Hipkins, Mr. William Edward",male,55,0,0,680,50.0000,C39,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23,0,0,12749,93.5000,B24,S
403,1295,1,"Carrau, Mr. Jose Pedro",male,17,0,0,113059,47.1000,,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43,1,0,17765,27.7208,D40,C
407,1299,1,"Widener, Mr. George Dunton",male,50,1,1,113503,211.5000,C80,C

### NÂº de pasajeros por clase y gÃ©nero

In [68]:
conn.execute("""
    SELECT Pclass,Sex,COUNT(*) n 
      FROM titanic
      GROUP BY 1,2;
""")
rs = conn.fetchall()
for i in rs: print(i)

(1, 'female', 50)
(1, 'male', 57)
(2, 'female', 30)
(2, 'male', 63)
(3, 'female', 72)
(3, 'male', 146)

In [75]:
df.groupby(['Pclass','Sex']).count().PassengerId

Pclass  Sex
1       female     50
        male       57
2       female     30
        male       63
3       female     72
        male      146
Name: PassengerId, dtype: int64

In [77]:
df.groupby(['Pclass','Sex']).size()

Pclass  Sex
1       female     50
        male       57
2       female     30
        male       63
3       female     72
        male      146
dtype: int64

### NÂº de pasajeros por clase y gÃ©nero, ordenados por nÃºmero de pasajeros descendentemente

In [79]:
conn.execute("""
    SELECT Pclass,Sex,COUNT(*) n 
      FROM titanic
      GROUP BY 1,2
      ORDER BY 3 DESC;
""")
rs = conn.fetchall()
for i in rs: print(i)

(3, 'male', 146)
(3, 'female', 72)
(2, 'male', 63)
(1, 'male', 57)
(1, 'female', 50)
(2, 'female', 30)

In [81]:
df.groupby(['Pclass','Sex']).size().sort_values(ascending=False)

Pclass  Sex
3       male      146
        female     72
2       male       63
1       male       57
        female     50
2       female     30
dtype: int64

### NÂº de pasajeros por clase y gÃ©nero, ordenados por clase y gÃ©nero

In [83]:
conn.execute("""
    SELECT Pclass,Sex,COUNT(*) n 
      FROM titanic
      GROUP BY 1,2
      ORDER BY 1,2;
""")
rs = conn.fetchall()
for i in rs: print(i)

(1, 'female', 50)
(1, 'male', 57)
(2, 'female', 30)
(2, 'male', 63)
(3, 'female', 72)
(3, 'male', 146)

In [90]:
df.groupby(['Pclass','Sex']).size().sort_index()

Pclass  Sex
1       female     50
        male       57
2       female     30
        male       63
3       female     72
        male      146
dtype: int64

### Listado de pasajeros, clase y gÃ©nero ordenados por clase descendente y nombre

In [93]:
conn.execute("""
    SELECT Name,Pclass,Sex
      FROM titanic
      ORDER BY 2 DESC, 1;
""")
rs = conn.fetchall()
for i in rs: print(i)

('Abbott, Master. Eugene Joseph', 3, 'male')
('Abelseth, Miss. Karen Marie', 3, 'female')
('Abelseth, Mr. Olaus Jorgensen', 3, 'male')
('Abrahamsson, Mr. Abraham August Johannes', 3, 'male')
('Abrahim, Mrs. Joseph (Sophie Halaut Easu)', 3, 'female')
('Aks, Master. Philip Frank', 3, 'male')
('Andersen, Mr. Albert Karvin', 3, 'male')
('Andersson, Miss. Ida Augusta Margareta', 3, 'female')
('Andersson, Mr. Johan Samuel', 3, 'male')
('Angheloff, Mr. Minko', 3, 'male')
('Aronsson, Mr. Ernst Axel Algot', 3, 'male')
('Asplund, Master. Carl Edgar', 3, 'male')
('Asplund, Master. Filip Oscar', 3, 'male')
('Asplund, Mr. Carl Oscar Vilhelm Gustafsson', 3, 'male')
('Asplund, Mr. Johan Charles', 3, 'male')
('Assaf Khalil, Mrs. Mariana (Miriam)', 3, 'female')
('Assaf, Mr. Gerios', 3, 'male')
('Assam, Mr. Ali', 3, 'male')
('Baccos, Mr. Raffull', 3, 'male')
('Badman, Miss. Emily Louisa', 3, 'female')
('Barry, Miss. Julia', 3, 'female')
('Betros, Master. Seman', 3, 'male')
('Bjorklund, Mr. Ernst Herbert', 3, 'male')
('Boulos, Master. Akar', 3, 'male')
('Bradley, Miss. Bridget Delia', 3, 'female')
('Braf, Miss. Elin Ester Maria', 3, 'female')
('Brobeck, Mr. Karl Rudolf', 3, 'male')
('Buckley, Miss. Katherine', 3, 'female')
('Buckley, Mr. Daniel', 3, 'male')
('Burns, Miss. Mary Delia', 3, 'female')
('Cacic, Miss. Manda', 3, 'female')
('Cacic, Mr. Jego Grga', 3, 'male')
('Canavan, Mr. Patrick', 3, 'male')
('Caram, Mr. Joseph', 3, 'male')
('Carlsson, Mr. Carl Robert', 3, 'male')
('Carr, Miss. Jeannie', 3, 'female')
('Carver, Mr. Alfred John', 3, 'male')
('Chronopoulos, Mr. Demetrios', 3, 'male')
('Colbert, Mr. Patrick', 3, 'male')
('Conlon, Mr. Thomas Henry', 3, 'male')
('Connolly, Miss. Kate', 3, 'female')
('Cor, Mr. Bartol', 3, 'male')
('Cor, Mr. Ivan', 3, 'male')
('Coutts, Mrs. William (Winnie Minnie Treanor)', 3, 'female')
('Cribb, Miss. Laura Alice', 3, 'female')
('Daher, Mr. Shedid', 3, 'male')
('Daly, Miss. Margaret Marcella Maggie', 3, 'female')
('Danbom, Master. Gilbert Sigvard Emanuel', 3, 'male')
('Davies, Mr. Evan', 3, 'male')
('Davies, Mr. John Samuel', 3, 'male')
('Davies, Mr. Joseph', 3, 'male')
('Davison, Mr. Thomas Henry', 3, 'male')
('de Messemaeker, Mr. Guillaume Joseph', 3, 'male')
('Dean, Miss. Elizabeth Gladys Millvina', 3, 'female')
('Dean, Mrs. Bertram (Eva Georgetta Light)', 3, 'female')
('Delalic, Mr. Redjo', 3, 'male')
('Demetri, Mr. Marinko', 3, 'male')
('Dennis, Mr. William', 3, 'male')
('Dika, Mr. Mirko', 3, 'male')
('Dintcheff, Mr. Valtcho', 3, 'male')
('Doyle, Miss. Elizabeth', 3, 'female')
('Drapkin, Miss. Jennie', 3, 'female')
('Duquemin, Mr. Joseph', 3, 'male')
('Dyker, Mr. Adolf Fredrik', 3, 'male')
('Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judith Andersson)', 3, 'female')
('Elias, Mr. Joseph', 3, 'male')
('Everett, Mr. Thomas James', 3, 'male')
('Finoli, Mr. Luigi', 3, 'male')
('Fleming, Miss. Honora', 3, 'female')
('Foley, Mr. Joseph', 3, 'male')
('Foley, Mr. William', 3, 'male')
('Ford, Mr. Arthur', 3, 'male')
('Ford, Mr. Edward Watson', 3, 'male')
('Fox, Mr. Patrick', 3, 'male')
('Franklin, Mr. Charles (Charles Fardon)', 3, 'male')
('Goldsmith, Mr. Nathan', 3, 'male')
('Goodwin, Miss. Jessie Allis', 3, 'female')
('Goodwin, Mr. Charles Frederick', 3, 'male')
('Guest, Mr. Robert', 3, 'male')
('Hagardon, Miss. Kate', 3, 'female')
('Hansen, Mrs. Claus Peter (Jennie L Howard)', 3, 'female')
('Hee, Mr. Ling', 3, 'male')
('Hellstrom, Miss. Hilda Maria', 3, 'female')
('Henriksson, Miss. Jenny Lovisa', 3, 'female')
('Hirvonen, Mrs. Alexander (Helga E Lindqvist)', 3, 'female')
('Holthen, Mr. Johan Martin', 3, 'male')
('Howard, Miss. May Elizabeth', 3, 'female')
('Hyman, Mr. Abraham', 3, 'male')
('Ilieff, Mr. Ylio', 3, 'male')
('Ilmakangas, Miss. Ida Livija', 3, 'female')
('Johansson Palmquist, Mr. Oskar Leander', 3, 'male')
('Johansson, Mr. Nils', 3, 'male')
('Johnston, Master. William Arthur Willie', 3, 'male')
('Johnston, Mrs. Andrew G (Elizabeth Lily Watson)', 3, 'female')
('Jonsson, Mr. Nils Hilding', 3, 'male')
('Karlsson, Mr. Einar Gervasius', 3, 'male')
('Karlsson, Mr. Julius Konrad Eugen', 3, 'male')
('Karun, Mr. Franz', 3, 'male')
('Katavelas, Mr. Vassilios (Catavelas Vassilios)', 3, 'male')
('Kelly, Mr. James', 3, 'male')
('Kennedy, Mr. John', 3, 'male')
('Khalil, Mr. Betros', 3, 'male')
('Khalil, Mrs. Betros (Zahie Maria Elias)', 3, 'female')
('Kiernan, Mr. John', 3, 'male')
('Kink, Miss. Maria', 3, 'female')
('Kink-Heilmann, Mr. Anton', 3, 'male')
('Kink-Heilmann, Mrs. Anton (Luise Heilmann)', 3, 'female')
('Klasen, Miss. Gertrud Emilia', 3, 'female')
('Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)', 3, 'female')
('Krekorian, Mr. Neshan', 3, 'male')
('Lane, Mr. Patrick', 3, 'male')
('Larsson-Rondberg, Mr. Edvard A', 3, 'male')
('Lefebre, Mrs. Frank (Frances)', 3, 'female')
('Lennon, Miss. Mary', 3, 'female')
('Lindell, Mrs. Edvard Bengtsson (Elin Gerda Persson)', 3, 'female')
('Linehan, Mr. Michael', 3, 'male')
('Lithman, Mr. Simon', 3, 'male')
('Lockyer, Mr. Edward', 3, 'male')
('Lundin, Miss. Olga Elida', 3, 'female')
('Lundstrom, Mr. Thure Edvin', 3, 'male')
('Lyntakoff, Mr. Stanko', 3, 'male')
('MacKay, Mr. George William', 3, 'male')
('Mahon, Miss. Bridget Delia', 3, 'female')
('Mahon, Mr. John', 3, 'male')
('Makinen, Mr. Kalle Edvard', 3, 'male')
('Mardirosian, Mr. Sarkis', 3, 'male')
('Matinoff, Mr. Nicola', 3, 'male')
('McCarthy, Miss. Catherine Katie', 3, 'female')
('McCoy, Miss. Alicia', 3, 'female')
('McGowan, Miss. Katherine', 3, 'female')
('McNamee, Mrs. Neal (Eileen O`Leary)', 3, 'female')
('McNeill, Miss. Bridget', 3, 'female')
('Midtsjo, Mr. Karl Albert', 3, 'male')
('Miles, Mr. Frank', 3, 'male')
('Minkoff, Mr. Lazar', 3, 'male')
('Moubarek, Mrs. George (Omine Amenia Alexander)', 3, 'female')
('Mulvihill, Miss. Bertha E', 3, 'female')
('Murphy, Miss. Nora', 3, 'female')
('Nakid, Mrs. Said (Waika Mary Mowad)', 3, 'female')
('Nancarrow, Mr. William Henry', 3, 'male')
('Nasr, Mr. Mustafa', 3, 'male')
('Naughton, Miss. Hannah', 3, 'female')
('Nieminen, Miss. Manta Josefina', 3, 'female')
('Niklasson, Mr. Samuel', 3, 'male')
('Nilsson, Miss. Berta Olivia', 3, 'female')
('Nilsson, Mr. August Ferdinand', 3, 'male')
('Olsen, Master. Artur Karl', 3, 'male')
('Olsson, Mr. Oscar Wilhelm', 3, 'male')
('Oreskovic, Miss. Jelka', 3, 'female')
('O`Connor, Mr. Patrick', 3, 'male')
('O`Donoghue, Ms. Bridget', 3, 'female')
('O`Keefe, Mr. Patrick', 3, 'male')
('Palsson, Master. Paul Folke', 3, 'male')
('Peacock, Master. Alfred Edward', 3, 'male')
('Peacock, Miss. Treasteall', 3, 'female')
('Peacock, Mrs. Benjamin (Edith Nile)', 3, 'female')
('Pearce, Mr. Ernest', 3, 'male')
('Pedersen, Mr. Olaf', 3, 'male')
('Peltomaki, Mr. Nikolai Johannes', 3, 'male')
('Peter, Master. Michael J', 3, 'male')
('Petersen, Mr. Marius', 3, 'male')
('Pokrnic, Mr. Mate', 3, 'male')
('Pokrnic, Mr. Tome', 3, 'male')
('Rasmussen, Mrs. (Lena Jacobsen Solvang)', 3, 'female')
('Reynolds, Mr. Harold J', 3, 'male')
('Rice, Master. Albert', 3, 'male')
('Riihivouri, Miss. Susanna Juhantytar Sanni', 3, 'female')
('Riordan, Miss. Johanna Hannah', 3, 'female')
('Risien, Mrs. Samuel (Emma)', 3, 'female')
('Robins, Mr. Alexander A', 3, 'male')
('Rosblom, Miss. Salli Helena', 3, 'female')
('Roth, Miss. Sarah A', 3, 'female')
('Ryan, Mr. Edward', 3, 'male')
('Saade, Mr. Jean Nassr', 3, 'male')
('Sadowitz, Mr. Harry', 3, 'male')
('Saether, Mr. Simon Sivertsen', 3, 'male')
('Sage, Master. William Henry', 3, 'male')
('Sage, Miss. Ada', 3, 'female')
('Sage, Mr. John George', 3, 'male')
('Sage, Mrs. John (Annie Bullen)', 3, 'female')
('Salander, Mr. Karl Johan', 3, 'male')
('Samaan, Mr. Elias', 3, 'male')
('Samaan, Mr. Hanna', 3, 'male')
('Sandstrom, Miss. Beatrice Irene', 3, 'female')
('Sap, Mr. Julius', 3, 'male')
('Shaughnessy, Mr. Patrick', 3, 'male')
('Shine, Miss. Ellen Natalia', 3, 'female')
('Smyth, Miss. Julia', 3, 'female')
('Spector, Mr. Woolf', 3, 'male')
('Spinner, Mr. Henry John', 3, 'male')
('Storey, Mr. Thomas', 3, 'male')
('Strilic, Mr. Ivan', 3, 'male')
('Svensson, Mr. Johan Cervin', 3, 'male')
('Tenglin, Mr. Gunnar Isidor', 3, 'male')
('Thomas, Mr. Charles P', 3, 'male')
('Thomas, Mr. John', 3, 'male')
('Thomas, Mr. Tannous', 3, 'male')
('Thomas, Mrs. Alexander (Thamine Thelma)', 3, 'female')
('Thomson, Mr. Alexander Morrison', 3, 'male')
('Torfa, Mr. Assad', 3, 'male')
('Touma, Master. Georges Youssef', 3, 'male')
('Touma, Miss. Maria Youssef', 3, 'female')
('van Billiard, Master. James William', 3, 'male')
('van Billiard, Master. Walter John', 3, 'male')
('Vander Planke, Mr. Julius', 3, 'male')
('Vartanian, Mr. David', 3, 'male')
('Vendel, Mr. Olof Edvin', 3, 'male')
('Ware, Mr. Frederick', 3, 'male')
('Warren, Mr. Charles William', 3, 'male')
('Wenzel, Mr. Linhart', 3, 'male')
('Whabee, Mrs. George Joseph (Shawneene Abi-Saab)', 3, 'female')
('Wiklund, Mr. Karl Johan', 3, 'male')
('Wilkes, Mrs. James (Ellen Needs)', 3, 'female')
('Willer, Mr. Aaron (Abi Weller)', 3, 'male')
('Wirz, Mr. Albert', 3, 'male')
('Wittevrongel, Mr. Camille', 3, 'male')
('Zakarian, Mr. Mapriededer', 3, 'male')
('Zakarian, Mr. Ortin', 3, 'male')
('Aldworth, Mr. Charles Augustus', 2, 'male')
('Andrew, Mr. Frank Thomas', 2, 'male')
('Angle, Mr. William A', 2, 'male')
('Ashby, Mr. John', 2, 'male')
('Baimbrigge, Mr. Charles Robert', 2, 'male')
('Beauchamp, Mr. Henry James', 2, 'male')
('Becker, Miss. Ruth Elizabeth', 2, 'female')
('Becker, Mrs. Allen Oliver (Nellie E Baumgardner)', 2, 'female')
('Bentham, Miss. Lilian W', 2, 'female')
('Botsford, Mr. William Hull', 2, 'male')
('Bowenur, Mr. Solomon', 2, 'male')
('Brown, Miss. Edith Eileen', 2, 'female')
('Bryhl, Miss. Dagmar Jenny Ingeborg ', 2, 'female')
('Caldwell, Mr. Albert Francis', 2, 'male')
('Chapman, Mrs. John Henry (Sara Elizabeth Lawry)', 2, 'female')
('Christy, Mrs. (Alice Frances)', 2, 'female')
('Clarke, Mr. Charles Valentine', 2, 'male')
('Collett, Mr. Sidney C Stuart', 2, 'male')
('Cook, Mrs. (Selena Rogers)', 2, 'female')
('Corbett, Mrs. Walter H (Irene Colvin)', 2, 'female')
('Corey, Mrs. Percy C (Mary Phyllis Elizabeth Miller)', 2, 'female')
('Cotterill, Mr. Henry Harry', 2, 'male')
('Davies, Mrs. John Morgan (Elizabeth Agnes Mary White) ', 2, 'female')
('de Brito, Mr. Jose Joaquim', 2, 'male')
('Deacon, Mr. Percy William', 2, 'male')
('del Carlo, Mrs. Sebastiano (Argenia Genovesi)', 2, 'female')
('Denbury, Mr. Herbert', 2, 'male')
('Dibden, Mr. William', 2, 'male')
('Drew, Master. Marshall Brines', 2, 'male')
('Drew, Mr. James Vivian', 2, 'male')
('Duran y More, Miss. Florentina', 2, 'female')
('Enander, Mr. Ingvar', 2, 'male')
('Faunthorpe, Mr. Harry', 2, 'male')
('Fillbrook, Mr. Joseph Charles', 2, 'male')
('Gale, Mr. Harry', 2, 'male')
('Gilbert, Mr. William', 2, 'male')
('Giles, Mr. Edgar', 2, 'male')
('Giles, Mr. Ralph', 2, 'male')
('Harbeck, Mr. William H', 2, 'male')
('Herman, Miss. Kate', 2, 'female')
('Herman, Mr. Samuel', 2, 'male')
('Hiltunen, Miss. Marta', 2, 'female')
('Hocking, Miss. Ellen Nellie', 2, 'female')
('Hocking, Mr. Samuel James Metcalfe', 2, 'male')
('Hold, Mrs. Stephen (Annie Margaret Hill)', 2, 'female')
('Howard, Mr. Benjamin', 2, 'male')
('Howard, Mrs. Benjamin (Ellen Truelove Arman)', 2, 'female')
('Jefferys, Mr. Clifford Thomas', 2, 'male')
('Jefferys, Mr. Ernest Wilfred', 2, 'male')
('Karnes, Mrs. J Frank (Claire Bennett)', 2, 'female')
('Keane, Mr. Daniel', 2, 'male')
('Lahtinen, Rev. William', 2, 'male')
('Lamb, Mr. John Joseph', 2, 'male')
('Laroche, Miss. Louise', 2, 'female')
('Lingane, Mr. John', 2, 'male')
('Louch, Mr. Charles Alexander', 2, 'male')
('Malachard, Mr. Noel', 2, 'male')
('Mallet, Mrs. Albert (Antoinette Magnin)', 2, 'female')
('Mangiavacchi, Mr. Serafino Emilio', 2, 'male')
('Maybery, Mr. Frank Hubert', 2, 'male')
('McCrae, Mr. Arthur Gordon', 2, 'male')
('McCrie, Mr. James Matthew', 2, 'male')
('Myles, Mr. Thomas Francis', 2, 'male')
('Nesson, Mr. Israel', 2, 'male')
('Nourney, Mr. Alfred (Baron von Drachstedt)', 2, 'male')
('Oxenham, Mr. Percy Thomas', 2, 'male')
('Pallas y Castello, Mr. Emilio', 2, 'male')
('Parker, Mr. Clifford Richard', 2, 'male')
('Peruschitz, Rev. Joseph Maria', 2, 'male')
('Phillips, Miss. Alice Frances Louisa', 2, 'female')
('Phillips, Mr. Escott Robert', 2, 'male')
('Portaluppi, Mr. Emilio Ilario Giuseppe', 2, 'male')
('Pulbaum, Mr. Franz', 2, 'male')
('Quick, Miss. Winifred Vera', 2, 'female')
('Rogers, Mr. Reginald Harry', 2, 'male')
('Schmidt, Mr. August', 2, 'male')
('Sincock, Miss. Maude', 2, 'female')
('Stanton, Mr. Samuel Ward', 2, 'male')
('Stokes, Mr. Philip Joseph', 2, 'male')
('Swane, Mr. George', 2, 'male')
('Sweet, Mr. George Frederick', 2, 'male')
('Veal, Mr. James', 2, 'male')
('Walcroft, Miss. Nellie', 2, 'female')
('Ware, Mr. John James', 2, 'male')
('Ware, Mr. William Jeffery', 2, 'male')
('Ware, Mrs. John James (Florence Louise Long)', 2, 'female')
('Watt, Miss. Bertha J', 2, 'female')
('Weisz, Mr. Leopold', 2, 'male')
('Wells, Master. Ralph Lester', 2, 'male')
('Wells, Mrs. Arthur Henry (Addie Dart Trevaskis)', 2, 'female')
('West, Miss. Barbara J', 2, 'female')
('Wheeler, Mr. Edwin Frederick', 2, 'male')
('Wright, Miss. Marion', 2, 'female')
('Allison, Mr. Hudson Joshua Creighton', 1, 'male')
('Astor, Col. John Jacob', 1, 'male')
('Beattie, Mr. Thomson', 1, 'male')
('Bird, Miss. Ellen', 1, 'female')
('Birnbaum, Mr. Jakob', 1, 'male')
('Bonnell, Miss. Caroline', 1, 'female')
('Borebank, Mr. John James', 1, 'male')
('Bowen, Miss. Grace Scott', 1, 'female')
('Brady, Mr. John Bertram', 1, 'male')
('Brandeis, Mr. Emil', 1, 'male')
('Brown, Mrs. John Murray (Caroline Lane Lamson)', 1, 'female')
('Bucknell, Mrs. William Robert (Emma Eliza Ward)', 1, 'female')
('Candee, Mrs. Edward (Helen Churchill Hungerford)', 1, 'female')
('Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)', 1, 'female')
('Carrau, Mr. Jose Pedro', 1, 'male')
('Case, Mr. Howard Brown', 1, 'male')
('Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)', 1, 'female')
('Cavendish, Mrs. Tyrell William (Julia Florence Siegel)', 1, 'female')
('Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)', 1, 'female')
('Chaudanson, Miss. Victorine', 1, 'female')
('Chevre, Mr. Paul Romaine', 1, 'male')
('Chisholm, Mr. Roderick Robert Crispin', 1, 'male')
('Clark, Mr. Walter Miller', 1, 'male')
('Clark, Mrs. Walter Miller (Virginia McDowell)', 1, 'female')
('Compton, Mr. Alexander Taylor Jr', 1, 'male')
('Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)', 1, 'female')
('Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)', 1, 'female')
('Crafton, Mr. John Bertram', 1, 'male')
('Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)', 1, 'female')
('Cumings, Mr. John Bradley', 1, 'male')
('Daniels, Miss. Sarah', 1, 'female')
('Davidson, Mrs. Thornton (Orian Hays)', 1, 'female')
('Dodge, Dr. Washington', 1, 'male')
('Dodge, Mrs. Washington (Ruth Vidaver)', 1, 'female')
('Douglas, Mrs. Frederick Charles (Mary Helene Baxter)', 1, 'female')
('Douglas, Mrs. Walter Donald (Mahala Dutton)', 1, 'female')
('Dulles, Mr. William Crothers', 1, 'male')
('Earnshaw, Mrs. Boulton (Olive Potter)', 1, 'female')
('Evans, Miss. Edith Corse', 1, 'female')
('Flegenheim, Mrs. Alfred (Antoinette)', 1, 'female')
('Fortune, Miss. Ethel Flora', 1, 'female')
('Fortune, Mrs. Mark (Mary McDougald)', 1, 'female')
('Franklin, Mr. Thomas Parham', 1, 'male')
('Frauenthal, Mr. Isaac Gerald', 1, 'male')
('Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)', 1, 'female')
('Geiger, Miss. Amalie', 1, 'female')
('Gibson, Miss. Dorothy Winifred', 1, 'female')
('Gibson, Mrs. Leonard (Pauline C Boeson)', 1, 'female')
('Gracie, Col. Archibald IV', 1, 'male')
('Greenfield, Mrs. Leo David (Blanche Strouse)', 1, 'female')
('Harder, Mrs. George Achilles (Dorothy Annan)', 1, 'female')
('Hays, Mr. Charles Melville', 1, 'male')
('Head, Mr. Christopher', 1, 'male')
('Hilliard, Mr. Herbert Henry', 1, 'male')
('Hipkins, Mr. William Edward', 1, 'male')
('Ismay, Mr. Joseph Bruce', 1, 'male')
('Jones, Mr. Charles Cresson', 1, 'male')
('Julian, Mr. Henry Forbes', 1, 'male')
('Keeping, Mr. Edwin', 1, 'male')
('Kenyon, Mr. Frederick R', 1, 'male')
('Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)', 1, 'female')
('Kreuchen, Miss. Emilie', 1, 'female')
('Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey)', 1, 'male')
('Lindstrom, Mrs. Carl Johan (Sigrid Posse)', 1, 'female')
('Lines, Mrs. Ernest H (Elizabeth Lindsey James)', 1, 'female')
('Loring, Mr. Joseph Holland', 1, 'male')
('Maguire, Mr. John Edward', 1, 'male')
('Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)', 1, 'female')
('McCaffry, Mr. Thomas Francis', 1, 'male')
('Minahan, Mrs. William Edward (Lillian E Thorpe)', 1, 'female')
('Mock, Mr. Philipp Edmund', 1, 'male')
('Moore, Mr. Clarence Bloomfield', 1, 'male')
('Oliva y Ocana, Dona. Fermina', 1, 'female')
('Omont, Mr. Alfred Fernand', 1, 'male')
('Ostby, Miss. Helene Ragnhild', 1, 'female')
('Ovies y Rodriguez, Mr. Servando', 1, 'male')
('Payne, Mr. Vivian Ponsonby', 1, 'male')
('Rheims, Mr. George Alexander Lucien', 1, 'male')
('Rosenbaum, Miss. Edith Louise', 1, 'female')
('Rosenshine, Mr. George (Mr George Thorne)', 1, 'male')
('Rothschild, Mr. Martin', 1, 'male')
('Rowe, Mr. Alfred G', 1, 'male')
('Ryerson, Master. John Borie', 1, 'male')
('Ryerson, Mr. Arthur Larned', 1, 'male')
('Ryerson, Mrs. Arthur Larned (Emily Maria Borie)', 1, 'female')
('Salomon, Mr. Abraham L', 1, 'male')
('Schabert, Mrs. Paul (Emma Mock)', 1, 'female')
('Smith, Mr. Lucien Philip', 1, 'male')
('Smith, Mrs. Lucien Philip (Mary Eloise Hughes)', 1, 'female')
('Snyder, Mr. John Pillsbury', 1, 'male')
('Snyder, Mrs. John Pillsbury (Nelle Stevenson)', 1, 'female')
('Spedden, Master. Robert Douglas', 1, 'male')
('Spedden, Mr. Frederic Oakley', 1, 'male')
('Spencer, Mr. William Augustus', 1, 'male')
('Stengel, Mr. Charles Emil Henry', 1, 'male')
('Stengel, Mrs. Charles Emil Henry (Annie May Morris)', 1, 'female')
('Straus, Mr. Isidor', 1, 'male')
('Straus, Mrs. Isidor (Rosalie Ida Blun)', 1, 'female')
('Tucker, Mr. Gilbert Milligan Jr', 1, 'male')
('Warren, Mr. Frank Manley', 1, 'male')
('White, Mrs. John Stuart (Ella Holmes)', 1, 'female')
('Wick, Mr. George Dennick', 1, 'male')
('Widener, Mr. George Dunton', 1, 'male')
('Widener, Mrs. George Dunton (Eleanor Elkins)', 1, 'female')
('Willard, Miss. Constance', 1, 'female')
('Williams, Mr. Richard Norris II', 1, 'male')
('Wilson, Miss. Helen Alice', 1, 'female')

In [101]:
df.sort_values(['Pclass','Name'],ascending=[False,True])[['Name','Pclass','Sex']]

                                             Name  Pclass     Sex
392                 Abbott, Master. Eugene Joseph       3    male
345                   Abelseth, Miss. Karen Marie       3  female
57                  Abelseth, Mr. Olaus Jorgensen       3    male
251      Abrahamsson, Mr. Abraham August Johannes       3    male
8       Abrahim, Mrs. Joseph (Sophie Halaut Easu)       3  female
..                                            ...     ...     ...
407                    Widener, Mr. George Dunton       1    male
218  Widener, Mrs. George Dunton (Eleanor Elkins)       1  female
231                      Willard, Miss. Constance       1  female
23                Williams, Mr. Richard Norris II       1    male
371                     Wilson, Miss. Helen Alice       1  female

[418 rows x 3 columns]

### RecaudaciÃ³n por clase y gÃ©nero

In [103]:
conn.execute("""
    SELECT Pclass,Sex,SUM(fare) usd
      FROM titanic
      GROUP BY 1,2;
""")
rs = conn.fetchall()
for i in rs: print(i)

(1, 'female', 5779.558439254761)
(1, 'male', 4308.433401107788)
(2, 'female', 793.162501335144)
(2, 'male', 1271.633201599121)
(3, 'female', 988.9293112754822)
(3, 'male', 1714.8208124637604)

In [107]:
df.groupby(['Pclass','Sex']).sum()['Fare']

Pclass  Sex
1       female    5779.5573
        male      4308.4335
2       female     793.1625
        male      1271.6332
3       female     988.9293
        male      1714.8208
Name: Fare, dtype: float64